<!-- 头部区域（可配合layui已有的水平导航） -->
<div class="topleft">
    <a href="home.html" title="系统首页"></a>
</div>
<ul class="nav">
    <li><a href="default.html" target="rightFrame" class="selected"><span class="model workspace"></span><h2>工作台</h2></a></li>
    <li><a href="imgtable.html" target="rightFrame"><span class="model manage-model"></span><h2>模型管理</h2></a></li>
    <li><a href="imglist.html"  target="rightFrame"><span class="model design-model"></span><h2>模块设计</h2></a></li>
    <!--<li><a href="tools.html"  target="rightFrame"><img src="/toolkit/theme/images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>-->
    <!--<li><a href="computer.html" target="rightFrame"><span class="model-workspace"></span><h2>文件管理</h2></a></li>-->
    <li><a href="tab.html"  target="rightFrame"><span class="model system-model"></span><h2>系统设置</h2></a></li>
</ul>
<div class="topright">
    <ul>
        <li><span><img src="/toolkit/theme/images/help.png" title="帮助"  class="helpimg"/></span><a href="/doc/help/index.html" target="_blank">帮助</a></li>
        <li><a href="/doc/about/index.html" target="_blank">关于</a></li>
        <li><a data-th-href="@{/logout}">退出</a></li>
    </ul>
    <div class="user">
        <span>[[${user.realName}]]</span>
        <i>[[${user.groupName}]]</i>
<!--        <i>消息</i>
        <b>5</b>-->
    </div>
</div>
