<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>MUIBOOT 权限管理系统</title>
<meta http-equiv="Cache-control" content="public">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
<!-- Vendor styles -->
<link rel="stylesheet" data-th-href="@{/toolkit/layui/css/layui.css}">
<link rel="stylesheet" data-th-href="@{/css/mb.css}">
<link rel="stylesheet" data-th-href="@{/css/dic.css}">
<link rel="stylesheet" data-th-href="@{/css/formSelects-v4.css}">
<link rel="stylesheet" data-th-href="@{/css/mb.layui.css}" media="all"/>
<link rel="stylesheet" data-th-href="@{/css/mb.font.css}" media="all"/>
<link rel="stylesheet" data-th-href="@{/css/mb.button.css}" media="all"/>
<link rel="stylesheet" data-th-href="@{/css/mb.form.css}" media="all"/>
<link rel="stylesheet" data-th-href="@{/css/formSelects-v4.css}">
<link rel="stylesheet" data-th-href="@{/toolkit/theme/css/theme.css}">
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if IE]>
<script data-th-src="@{/js/jquery1x.js}"></script>
<![endif]-->
<!--[if !IE]> -->
<script data-th-src="@{/js/jquery.min.js}"></script>
<!-- <![endif]-->
<script data-th-inline="javascript">var ctx = [[@{/}]];</script>
<script data-th-src="@{/toolkit/layui/layui.js}"></script>
<script data-th-src="@{/toolkit/muiboot/js/common.js}"></script>
<script data-th-inline="javascript">
    layui.extend({
        dict: '/toolkit/muiboot/js/ajax-load-dict' // {/}的意思即代表采用自有路径，即不跟随 base 路径
        ,treeTable: '/toolkit/muiboot/js/ajax-load-treetable'
        ,menu: '/toolkit/muiboot/js/ajax-load-menu'
        ,mrouter: '/toolkit/muiboot/js/mb-router'
        ,formSelects: '/toolkit/muiboot/js/formSelects-v4'
    });
</script>
