<div class="mb-header-logo">
    <a href="javascript:;" class="mb-header-logo-spread">MUIBOOT权限管理系统</a>
    <a href="javascript:;" class="mb-header-logo-shrink">MUIBOOT</a>
</div>
<div class="mb-header-bar">
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item mb-flexible">
            <a href="javascript:void(0)">
                <i class="layui-icon layui-icon-spread-left"></i>
                <i class="layui-icon layui-icon-shrink-right"></i>
            </a>
        </li>
        <li class="layui-nav-item"><a href="">控制台</a></li>
        <li class="layui-nav-item"><a href="">商品管理</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">其它系统<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item mb-theme-model">
            <a href="javascript:;">单页面模式</a>
            <dl class="layui-nav-child">
                <dd class="mb-s-page"><a href="">单页面模式</a></dd>
                <dd class="mb-m-page"><a href="">多窗口模式</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" class="user_nav">
                        <span class="mb-icon micon-avatar3 user-avatar">
                        </span>
                <ul>
                    <li class="user-name">[[${user.realName}]]</li>
                    <li class="group-name">[[${user.groupName}]]</li>
                </ul>
                <span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
                <dd class="user"><a href="javascript:;" class="mb-icon micon-profile">基本资料</a></dd>
                <dd><a href="/doc/help/index.html" target="_blank" class="mb-icon micon-help">使用帮助</a></dd>
                <dd><a href="" class="mb-icon micon-setting">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a data-th-href="@{/logout}" class="mb-icon micon-logout warning">退出</a></li>
    </ul>
</div>