<div class="mb-card">
    <div class="layui-card-header mb-banner">
        <span>
            <a href="javascript:void(0)" class="flexible">
                <i class="layui-icon layui-icon-spread-left"></i>
                <i class="layui-icon layui-icon-shrink-right"></i>
            </a>
        </span>
        <span class="layui-breadcrumb breadcrumb">
          <a href="">首页</a>
        </span>
    </div>
    <div id="main-content" class="mb-card-body" th:attr="forward=${forward}">
    </div>
</div>


