<div class="layui-tab layui-tab-brief" lay-filter="mb-pane-top" id="mb-pane-top" lay-allowClose="true" lay-unauto>
    <ul class="layui-tab-title mb-banner" id="mb-banner">
        <li class="layui-icon layui-icon-home layui-this" lay-id="0">首页</li>
    </ul>
    <div class="layui-tab-content mb-content" id="mb-content">
        <div class="layui-tab-item layui-show"></div>
    </div>
    <div class="layui-icon admin-tabs-control layui-icon-prev"  id="mb-banner-pre"></div>
    <div class="layui-icon admin-tabs-control layui-icon-next"  id="mb-banner-next"></div>
    <div class="layui-icon admin-tabs-control layui-icon-down">
        <ul class="layui-nav admin-tabs-select" lay-filter="admin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;"></a>
                <dl class="layui-nav-child layui-anim-fadein">
                    <dd ew-event="closeThisTabs" lay-unselect=""><a href="javascript:;">关闭当前标签页</a></dd>
                    <dd ew-event="closeOtherTabs" lay-unselect=""><a href="javascript:;">关闭其它标签页</a></dd>
                    <dd ew-event="closeAllTabs" lay-unselect=""><a href="javascript:;">关闭全部标签页</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>


