<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MUIBOOT 权限管理系统</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]>
    <script data-th-src="@{js/jquery1x.js}"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script data-th-src="@{js/jquery.min.js}"></script>
    <!-- <![endif]-->
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
    <!-- Vendor styles -->
    <link rel="stylesheet" data-th-href="@{/toolkit/layui/css/layui.css}"  media="all"/>
    <link rel="stylesheet" data-th-href="@{/css/app.css}" media="all"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" data-th-include="common/header"></div>
    <div class="layui-side layui-bg-black" data-th-include="common/aside"></div>
    <div class="layui-body" data-th-include="common/main" style="bottom: 20px;"></div>
    <div class="layui-footer" data-th-include="common/footer"></div>
</div>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<div data-th-replace="common/common"></div>
<script data-th-src="@{js/app/index.js}"></script>
<script data-th-src="@{/toolkit/muiboot/js/ajax-load-content.js}"></script>

</body>
<script data-th-inline="javascript">
	var ctx = [[@{/}]];
	var userName = [[${user.username}]];
	var theme = [[${user.theme}]];
	var avatar = ctx + "img/avatar/" + [[${user.avatar}]];
</script>
<!--[if lt IE 8]>
<script data-th-inline="javascript">
    layer.msg('本系统不支持IE7以下浏览器访问，推荐使用IE8+ / Chrome / Firefox / Edge 等高级浏览器访问本系统', {
        time: 0 //不自动关闭
        ,shade: 0.8
    });
    $(window).on('resize', function () {
    }).resize();
</script>
<![endif]-->
<!--<script data-th-src="@{js/app/index.js}"></script>-->
</html>