<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MUIBOOT 权限管理系统</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]>
    <script data-th-src="@{/js/jquery1x.js}"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script data-th-src="@{/js/jquery.min.js}"></script>
    <!-- <![endif]-->
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
    <!-- Vendor styles -->
    <link rel="stylesheet" data-th-href="@{/toolkit/layui/css/layui.css}"  media="all"/>
    <link rel="stylesheet" data-th-href="@{/css/mb.css}">
    <link rel="stylesheet" data-th-href="@{/css/dic.css}">
    <link rel="stylesheet" data-th-href="@{/css/app.css}" media="all"/>
    <link rel="stylesheet" data-th-href="@{/toolkit/theme/css/theme.css}" media="all"/>
    <script data-th-inline="javascript">var ctx = [[@{/}]],userName = [[${user.username}]],userId = [[${user.userId}]];</script>
</head>
<body class="layui-layout-body">
<div class="layui-layout mb-layout-admin">
    <div class="mb-header" data-th-include="common/header"></div>
    <div class="lefttop"><span></span>权限管理系统V1.0</div>
    <div class="mb-side-menu" data-th-include="common/aside"></div>
    <div class="mb-body" data-th-include="common/main"></div>
    <div class="mb-footer" data-th-include="common/footer"></div>
</div>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<div data-th-replace="common/common"></div>
<script data-th-src="@{/js/app/index.js}"></script>
<script data-th-src="@{/toolkit/muiboot/js/ajax-load-content.js}"></script>
<!--[if lt IE 8]>
<script data-th-inline="javascript">
    layer.msg('本系统不支持IE7以下浏览器访问，推荐使用IE8+ / Chrome / Firefox / Edge 等高级浏览器访问本系统', {
        time: 0 //不自动关闭
        ,shade: 0.8
    });
    $(window).on('resize', function () {
    }).resize();
</script>
<![endif]-->
<!--模板-->
<script id="userProfile" type="text/html">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li>密码修改</li>
        </ul>
        <div class="layui-tab-content mb-tab-body">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <div class="layui-row">
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label" ><span>用户名:</span></label>
                            <div class="layui-input-block">
                                <input type="text" lay-verify="required" name="realName" value="{{d.realName||''}}"placeholder="请输入用户名" class="layui-input">
                                <input type="text" name="userId"value="{{d.userId||''}}" hidden>
                            </div>
                        </div>
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label" ><span>登录名:</span></label>
                            <div class="layui-input-block">
                                <input lay-verify="required" disabled name="username"  value="{{d.username||''}}"placeholder="请输入登录名" class="layui-input "></input>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label"><span>所属部门:</span></label>
                            <div class="layui-input-block">
                                <input type="text" lay-verify="required" disabled name="groupId" dic-map="DIC_DEPT_TREE" value="{{d.groupId||''}}"placeholder="请选择所属部门" class="layui-input dic-tree">
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label" >联系电话:</label>
                            <div class="layui-input-block">
                                <input type="text"  name="mobile" value="{{d.mobile||''}}"placeholder="请输入联系电话" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label" >电子邮箱:</label>
                            <div class="layui-input-block">
                                <input  name="email"  value="{{d.email||''}}"placeholder="请输入电子邮箱" class="layui-input "></input>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label">性别:</label>
                            <div class="layui-input-block">
                                <input type="checkbox"  name="ssex" lay-skin="switch" lay-text="男|女" value="1" {{d.ssex=='1'?'checked':''}}>
                            </div>
                        </div>
                        <div class="layui-col-md12 layui-col-xs12">
                            <label class="layui-form-label">备注:</label>
                            <div class="layui-input-block">
                                <input type="text" name="description" value="{{d.description||''}}"placeholder="请输入备注" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md12 layui-col-xs12 center">
                            <button type="button" lay-submit lay-filter="profileSave" class="mb-btn mb-btn-form mb-btn-search">保存</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <div class="layui-row">
                    <div class="layui-col-md12 layui-col-xs12">
                        <label class="layui-form-label">旧密码:</label>
                        <div class="layui-input-block">
                            <input type="text" name="description" value="{{d.description||''}}"placeholder="请输入旧密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md12 layui-col-xs12">
                        <label class="layui-form-label">新密码:</label>
                        <div class="layui-input-block">
                            <input type="text" name="description" value="{{d.description||''}}"placeholder="请输入新密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md12 layui-col-xs12">
                        <label class="layui-form-label">确认新密码:</label>
                        <div class="layui-input-block">
                            <input type="text" name="description" value="{{d.description||''}}"placeholder="请再次输入新密码" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-col-xs12 center">
                        <button type="button" id="passwordSave" class="mb-btn mb-btn-form mb-btn-search">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
</html>