<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>muiboot权限管理系统</title>
    <!-- 页面基本设置禁止随意更改 -->
    <meta charset="utf-8">
    <meta name="author" content="forework">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="title" content="muiboot权限管理系统-用户登录" />
    <!-- 页面基本设置禁止随意更改 -->
    <!-- 基础CSS类库可随意更改 -->
    <link rel="stylesheet" type="text/css" th:href="@{/cache/css/basic.css}">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" th:href="@{/cache/css/ie8.css}">
    <![endif]-->
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css"  th:href="@{/cache/css/ie.css}">
    <![endif]-->
    <!-- 基础CSS类库可随意更改 -->
    <!-- 基础js类库可随意更改 -->

    <!-- 基础js类库可随意更改 -->
</head>
<body>
<div class="wrapper" style="background-color: white;">
    <div class="login-top">
        <div style="background-color: white;height: 30px;">
            <div style=";margin-left: 20px;float:left; margin-top: 9px;color: #0C0C0C">
                <!--<img data-th-src="@{cache/images/log_1.png}"/>-->
                <!--<h1>MUIBOOT权限管理系统</h1>-->
            </div>
            <div style="float:right;font-size: 12px;margin-right:10px;margin-top: 32px;">
                <span>返回首页</span>
                <span>|</span>
                <span>登录帮助</span>
                <span>|</span>
                <span>在线答疑</span>
            </div>
        </div>
        <div class="login-topBg">
            <div class="login-topBg1">
                <div class="login-topStyle" >
                    <!--在点击注册时出现样式login-topStyle3登录框，而login-topStyle2则消失-->
                    <form class="login-form col s12">
                    <div class="login-topStyle3" id="loginStyle" style="margin-top: 75px;">
                        <h3>权限管理系统</h3>
                        <!--输入错误提示信息，默认是隐藏的，把display:none，变成block可看到-->
                        <div class="error-information" style="display:none;">您输入的密码不正确，请重新输入</div>
                        <div class="ui-form-item loginUsername">
                            <input type="text" name="username" placeholder="用户名/手机号/密码">
                        </div>
                        <div class="ui-form-item loginPassword">
                            <input type="password" name="password" placeholder="请输入密码">
                        </div>
                        <div class="login_reme">
                            <input type="checkbox" id="remember-me" name="rememberme"><a class="reme1">记住账号</a> <a class="reme2" href="password.html">忘记密码?</a>
                        </div>
                        <span class="login_error" ></span>
                        <a class="btnStyle btn-register" href="javascript:;" id="loginButton"  onclick="login()"> 立即登录</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="loginCen" style="margin-top: 30px;">
        <div class="login-center">
            <div class="loginCenter-moudle">
                <div class="loginCenter-moudleLeft" style="margin-right: 60px;"> &nbsp;</div>
                <div class="loginCenter-moudleRight" style="  width: 1067px;">
                    <!--第一个-->
                    <a class="loginCenter-mStyle loginCenter-moudle1" id="moudleRemove" style=" display:block;width: 340px;">
                        <span class="moudle-img"><img data-th-src="@{cache/images/login_bg_01.png}"></span>
                        <span class="moudle-text">
                            <span class="moudle-text1" style="font-family:'微软雅黑'">一体化战略预算</span>
                            <span class="moudle-text2" style="font-family:'微软雅黑'">Integrated strategic budget</span>
                        </span>
                    </a>
                    <!--第二个-->
                    <a class="loginCenter-mStyle loginCenter-moudle2" style=" display:block; width: 357px;" id="moudleRemove2" >
                        <span class="moudle-img"><img  data-th-src="@{cache/images/login_bg_02.png}"></span>
                        <span class="moudle-text">
                            <span class="moudle-text1" style="font-family:'微软雅黑'"> 精细化财务核算</span>
                            <span class="moudle-text2" style="font-family:'微软雅黑'">Refined financial accounting</span>
                        </span>
                    </a>
                    <!--第三个-->
                    <a class="loginCenter-mStyle loginCenter-moudle3" style=" display:block;" id="moudleRemove3" >
                        <span class="moudle-img"><img data-th-src="@{cache/images/login_bg_03.png}"></span>
                        <span class="moudle-text">
                            <span class="moudle-text"> <span class="moudle-text1" style="font-family:'微软雅黑'">独立化自主经营</span>
                                <span class="moudle-text2" style="font-family:'微软雅黑'">Independent operation</span></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="footerText">Copyright © 1995-2018 www.baicu.com</span>
    </div>
</div>
</body>
<script th:inline="javascript">
    var ctx = [[@{/}]];
</script>
<script th:src="@{js/jquery.min.js}"></script>
<script data-th-src="@{js/app/login.js}"></script>
</html>