@charset "utf-8";
/* CSS Document */
/*登陆页*/
.loginCenter-moudleRight a.moudle1.loginCenter-moudle1.loginCenter-mStyle{padding-top:0px;}
.loginCenter-moudleRight a.moudle2.loginCenter-moudle2.loginCenter-mStyle{padding-top:0px;}
.loginCenter-moudleRight a.loginCenter-moudle3.loginCenter-mStyle span.moudle-text{margin-top:0px;}
.loginCenter-moudleRight a.moudle3.loginCenter-moudle3.loginCenter-mStyle{padding-top:0px;}
.loginCenter-moudleRight a.moudle3.loginCenter-moudle3.loginCenter-mStyle span.moudle-text{top:-7px;}
a.btn-Login, a.btn-register {
	width: 235px;
}