/* CSS Document */
@charset "utf-8";
/********
	 公用样式抽取
     2015.5.29
*******/
/* ----------------------------------LESS元素---------------------------------- */
* {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
body {
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
a,
button,
input,
select,
textarea,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[onclick] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul li {
  list-style-type: none;
}
/*样式定义*/
.sinlin {
  display: inline-block !important;
}
.bgcolor {
  background-color: #ffffff !important;
}