<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baicua.bsds.dao.RecordApplyMapper">
  <resultMap id="BaseResultMap" type="com.baicua.bsds.domain.RecordApply">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="AP_ID" jdbcType="DECIMAL" property="apId" />
    <result column="AP_DEPT_ID" jdbcType="DECIMAL" property="apDeptId" />
    <result column="AP_DEPT_NAME" jdbcType="VARCHAR" property="apDeptName" />
    <result column="AP_NAME" jdbcType="VARCHAR" property="apName" />
    <result column="AP_DATE" jdbcType="TIMESTAMP" property="apDate" />
    <result column="R_ID" jdbcType="DECIMAL" property="rId" />
    <result column="AP_TYPE" jdbcType="DECIMAL" property="apType" />
    <result column="R_NAME" jdbcType="VARCHAR" property="rName" />
    <result column="AP_BATCH_NUM" jdbcType="VARCHAR" property="apBatchNum" />
    <result column="AP_QUANTITY" jdbcType="DECIMAL" property="apQuantity" />
  </resultMap>
</mapper>