<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baicua.bsds.dao.RecordBookMapper">
  <resultMap id="BaseResultMap" type="com.baicua.bsds.domain.RecordBook">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="R_ID" jdbcType="DECIMAL" property="rId" />
    <result column="R_DEPT" jdbcType="VARCHAR" property="rDept" />
    <result column="R_DEPT_ID" jdbcType="DECIMAL" property="rDeptId" />
    <result column="R_NAME" jdbcType="VARCHAR" property="rName" />
    <result column="R_PRO" jdbcType="VARCHAR" property="rPro" />
    <result column="R_SERIAL_NUM" jdbcType="DECIMAL" property="rSerialNum" />
    <result column="R_CRT_DATE" jdbcType="TIMESTAMP" property="rCrtDate" />
    <result column="R_UPD_DATE" jdbcType="TIMESTAMP" property="rUpdDate" />
    <result column="R_UPD_PER" jdbcType="VARCHAR" property="rUpdPer" />
    <result column="R_VESION" jdbcType="DECIMAL" property="rVesion" />
  </resultMap>

  <select id="findRecordBook" resultType="com.baicua.bsds.domain.RecordBook" parameterType="com.baicua.bsds.domain.RecordBook">
    select u.R_ID rId,u.R_DEPT rDept,u.R_DEPT_ID rDeptId,u.R_NAME rName,u.R_PRO rPro,u.R_SERIAL_NUM rSerialNum,u.R_CRT_DATE rCrtDate,
    u.R_UPD_DATE rUpdDate ,u.R_UPD_PER rUpdPer ,u.R_VESION rVesion from RECORD_BOOK u
    where 1=1
    <if test="rId != null and rId != ''">
      AND u.R_ID = #{rId}
    </if>
    <if test="rDept != null and rDept != ''">
      AND u.R_DEPT = #{rDept}
    </if>
    <if test="rName != null and rName != ''">
      AND u.R_NAME like concat('%',#{rName},'%')
    </if>
    order by u.R_UPD_DATE DESC
  </select>
</mapper>