<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baicua.bsds.dao.SequenceMapper">
  <resultMap id="BaseResultMap" type="com.baicua.bsds.domain.Sequence">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SEQ_NAME" jdbcType="VARCHAR" property="seqName" />
    <result column="CURRENT_VAL" jdbcType="DECIMAL" property="currentVal" />
    <result column="INCREMENT_VAL" jdbcType="DECIMAL" property="incrementVal" />
    <result column="RULE" jdbcType="VARCHAR" property="rule" />
    <result column="FORMAT" jdbcType="VARCHAR" property="format" />
  </resultMap>
</mapper>