<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-include="common/head"></head>
<body class="layui-layout-body layui-table-body">

<hr>
<div class="ajax-content" lay-filter="ajax-content">
    <form class="layui-form table-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline" style="float: right;margin-bottom: 0px;margin-right: 4px;">
                <div class="layui-btn-group">
                    <button title="导出" type="button" id="expBtn" class="layui-btn layui-btn-primary layui-btn-sm" data-table-action="excel" onclick="exportMenuExcel()"><i class="layui-icon layui-icon-download-circle"></i></button>
                    <button title="删除" type="button" id="delBtn" class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:delete"><i class="layui-icon"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <table class="layui-hide" id="userOnline"></table>
    </div>
    <script data-th-src="@{/js/app/system/log/log.js}" data-th-attr="mobile-href=@{/js/app/system/log/log-mobile.js}"></script>
    <!--<script data-th-src="@{/js/app/system/log/log-mobile.js}"></script>-->
</div>
</body>
</html>