<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head data-th-include="common/head"></head>
<body class="layui-layout-body layui-table-body">
<div data-th-include="common/common"></div>
<hr>
<div class="ajax-content" lay-filter="ajax-content">
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-xs3">
            <blockquote class="mb-elem-quote">菜单管理</blockquote>
        </div>
        <div class="layui-col-md9 layui-col-xs9">
            <div class="mb-btn-group">
                <button title="新增" type="button" id="addBtn"  class="mb-btn" shiro:hasPermission="menu:add"><i class="layui-icon"></i>新增</button>
                <button title="修改" type="button" id="updBtn" class="mb-btn" shiro:hasPermission="menu:update"><i class="layui-icon"></i>修改</button>
                <button title="导出" type="button" id="expBtn" class="mb-btn" shiro:hasPermission="menu:exp"><i class="layui-icon layui-icon-download-circle"></i>导出</button>
                <button title="删除" type="button" id="delBtn" class="mb-btn" shiro:hasPermission="menu:delete"><i class="layui-icon"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class=" layui-col-md3 layui-col-xs12" style="min-height: 400px;padding: 10px;">
            <div class="layui-card">
                <ul id="menuTree" class="layui-box layui-tree"  style="min-height: 320px"></ul>
            </div>
        </div>
        <div class=" layui-col-md9 layui-col-md9 layui-col-xs12 layui-anim layui-anim-up" style="min-height: 400px;padding: 10px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-row layui-col-xs12">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon">&#xe60a;&nbsp;&nbsp;</i>基本信息</div>
                        <div class="layui-card-body" id="menuInfoPanle" style="min-height: 130px">
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-md12">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="layui-icon">&#xe672;&nbsp;&nbsp;</i>权限信息</div>
                            <div class="layui-card-body" id="menuButtonPanle" style="min-height: 50px">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="layui-icon">&#xe770;&nbsp;&nbsp;</i>角色信息</div>
                            <div class="layui-card-body" id="menuAuthPanle"  style="min-height: 50px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="table" type="text/html">
        <table class="layui-table layui-anim layui-anim-up" lay-size="sm" data-name-menu="{{ d.menuId }}">
            <colgroup><col width="150"><col width="200"><col width="150"><col width="200"></colgroup>
            <tbody>
            <tr><th>菜单ID</th><td>{{ d.menuId||'/' }}</td><th>菜单名称</th><td>{{ d.menuName||'/'}}</td></tr>
            <tr><th>上级菜单</th><td><span class="dic-text" dic-map="DIC_MENU_DATA">{{ d.parentId||'/' }}</span></td><th>权限描述</th><td>{{ d.perms||'/' }}</td></tr>
            <tr><th>菜单类型</th><td><span class="dic-text" dic-map="DIC_MENU_TYPE">{{ d.type||'/' }}</span></td><th>菜单图标</th><td>{{ d.icon||'/' }}</td></tr>
            <tr><th>菜单地址</th><td>{{ d.url||'/' }}</td><th>菜单排序</th><td>{{ d.orderNum||'/' }}</td></tr>
            </tbody>
        </table>
    </script>
    <script id="permission" type="text/html">
        <span class="layui-breadcrumb layui-anim layui-anim-up" lay-separator="|">
            {{#  layui.each(d, function(index, item){ }}
            <i class="layui-icon layui-icon-close-fill mb-close" style="cursor:pointer;" function="del"permissionId="{{ item.menuId }}" ></i>
            <a href="javascript:;" permissionId="{{ item.menuId }}">{{ item.menuName }}</a>
            {{#  }); }}
        </span>
    </script>
    <script id="role" type="text/html">
        <span class="layui-breadcrumb layui-anim layui-anim-up" lay-separator="|">
            {{#  layui.each(d, function(index, item){ }}
            <a href="javascript:;" roleId="{{ item.roleId }}">{{ item.roleName}}</a>
            {{#  }); }}
        </span>
    </script>
    <script data-th-src="@{/js/app/system/menu/menu.js}"></script>
</div>
</body>
</html>