<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head data-th-include="common/head"></head>
<body class="layui-layout-body layui-table-body">
<div data-th-include="common/common"></div>
<hr>
<div class="layui-container ajax-content" lay-filter="ajax-content">
    <form class="layui-form table-form" action="" lay-filter="search-form">
        <div class="layui-row">
            <div class="layui-row">
                <div class="layui-col-md4 layui-col-xs12">
                    <label class="layui-form-label">角色编号:</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleKey" placeholder="请输入角色编号" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs12">
                    <label class="layui-form-label">角色名:</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleName" placeholder="请输入角色名" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs12">
                    <label class="layui-form-label">角色级别:</label>
                    <div class="layui-input-block">
                        <select name="roleLevel" dic-map="DIC_ROLE_LEVEL" placeholder="请选择角色级别" class="layui-input dic-map"></select>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="layui-row">
            <div class="layui-col-md12 layui-col-xs12 center">
                <button type="button" lay-submit lay-filter="search-role" class="mb-btn mb-btn-form mb-btn-search">查询</button>
                <button type="button" lay-submit lay-filter="reset-role" class="mb-btn mb-btn-form mb-btn-empty">重置</button>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-xs3">
            <blockquote class="mb-elem-quote">角色列表</blockquote>
        </div>
        <div class="layui-col-md9 layui-col-xs9">
            <div class="mb-btn-group">
                <button title="新增" type="button" id="addBtn"  class="mb-btn " shiro:hasPermission="role:add"><i class="layui-icon"></i>新增</button>
                <button title="修改" type="button" id="updBtn" class="mb-btn " shiro:hasPermission="role:update"><i class="layui-icon"></i>修改</button>
                <button title="批量授权" type="button" id="grantBtn" class="mb-btn " shiro:hasPermission="role:grant"><i class="layui-icon layui-icon-flag"></i>授权</button>
                <button title="导出" type="button" id="expBtn" class="mb-btn " shiro:hasPermission="role:exp"><i class="layui-icon layui-icon-download-circle"></i>导出</button>
                <button title="删除" type="button" id="delBtn" class="mb-btn " shiro:hasPermission="role:delete"><i class="layui-icon"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <table class="layui-hide" id="roleList"></table>
    </div>
    <!--模板-->
    <script id="roleAdd" type="text/html">
        <form class="layui-form" action="" >
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">基本信息</li>
                    <li>权限信息</li>
                    <li>权限用户</li>
                </ul>
                <div class="layui-tab-content mb-tab-body">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <div class="layui-col-md12 layui-col-xs12">
                                <label class="layui-form-label" lable-verify="required">角色编号:</label>
                                <div class="layui-input-block">
                                    <input type="text" lay-verify="required" name="roleKey" value="{{d.roleKey||''}}"placeholder="请输入角色编号" class="layui-input">
                                    <input type="text" name="roleId" value="{{d.roleId||''}}" hidden>
                                </div>
                            </div>
                            <div class="layui-col-md12 layui-col-xs12">
                                <label class="layui-form-label" lable-verify="required">角色名称:</label>
                                <div class="layui-input-block">
                                    <input lay-verify="required" name="roleName"  value="{{d.roleName||''}}"placeholder="请输入角色名称" class="layui-input "></input>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md12 layui-col-xs12">
                                <label class="layui-form-label" lable-verify="required">角色级别:</label>
                                <div class="layui-input-block">
                                    <input type="checkbox"name="roleLevel" lay-skin="switch" lay-text="本局|全局" value="1" {{d.roleLevel=='1'?'checked':''}}>
                                </div>
                            </div>
                            <div class="layui-col-md12 layui-col-xs12">
                                <label class="layui-form-label">备注:</label>
                                <div class="layui-input-block">
                                    <textarea  name="remark" value="{{d.remark||''}}"placeholder="请输入备注" class="layui-textarea">{{d.remark||''}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item ">
                        <ul id="authTree" class="layui-box layui-tree mb-tree-table"></ul>
                    </div>
                    <div class="layui-tab-item ">
                        <div class="layui-row">
                            <div class="layui-row">
                                <div class="layui-col-md5 layui-col-xs12">
                                    <label class="layui-form-label">所属机关:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="role-organId" dic-map="DIC_ORGAN_TREE" placeholder="请选择所属机关" class="layui-input dic-tree">
                                    </div>
                                </div>
                                <div class="layui-col-md5 layui-col-xs12">
                                    <label class="layui-form-label">用户名:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="role-realName"  placeholder="请输入用户名" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-md2 layui-col-xs12 center">
                                    <button type="button"  id="search-role-user-btn" class="mb-btn mb-btn-form mb-btn-search">查询</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <table class="layui-hide" id="search-users-list" ></table>
                        </div>
                        <div class="layui-row">
                            <button type="button" id="search-select-user-btn" class="layui-btn layui-btn-xs">已选用户<span class="layui-badge" id="role-users-count">0</span></button>
                            <table class="layui-hide" id="role-users-list" ></table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="roleGrant" type="text/html">
        <form class="layui-form" action="" >
            <input type="hidden" name="roleIds" id="roleIds" value="{{d.roleIds||''}}"  class="layui-input "/>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">用户列表</li>
                    <li>已选用户<span class="layui-badge" id="select-num">0</span></li>
                </ul>
                <div class="layui-tab-content mb-tab-body">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <div class="layui-row">
                                <div class="layui-col-md5 layui-col-xs12">
                                    <label class="layui-form-label">所属机关:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="role-organId" dic-map="DIC_ORGAN_TREE" placeholder="请选择所属机关" class="layui-input dic-tree">
                                    </div>
                                </div>
                                <div class="layui-col-md5 layui-col-xs12">
                                    <label class="layui-form-label">用户名:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="role-realName"  placeholder="请输入用户名" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-md2 layui-col-xs12 center">
                                    <button type="button" lay-submit lay-filter="search-user" class="mb-btn mb-btn-form mb-btn-search">查询</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <table class="layui-hide" id="users-grout-list" lay-filter="users"></table>
                        </div>
                    </div>
                    <div class="layui-tab-item ">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div class="layui-row mb-card-select" id="user-select">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script data-th-src="@{/js/app/system/role/role.js}" ></script>
</div>
</body>
</html>