@charset "utf-8";
/*滚动条设置*/
html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track
{
    /*border-radius: 1px;*/
}
::-webkit-scrollbar-thumb
{
    /*border-radius: 1px;*/
    background: rgba(0,0,0,.1);
}
::-webkit-scrollbar{width:2px;background:#f5f5f5;/*border-radius:4px*/}::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:4px}::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px #e0e0e0 inset}::-webkit-scrollbar-corner{background:transparent}.hotelInfoBox::-webkit-scrollbar{width:8px;background:#eee;border-radius:5px}::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:5px}::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0, 0, 0, .1) inset}::-webkit-scrollbar-corner{background:transparent}.city_mdd_depa,.city_mdd_dest,.city_mdd_hotel{display:none}.scenic_list::-webkit-scrollbar{width:8px;background-color:rgba(155,155,155,0.1);border-radius:5px}.scenic_list::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:5px}.scenic_list::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0,0,0,.1) inset}.scenic_list::-webkit-scrollbar-corner{background:transparent}

.mb-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    padding-left: 186px;
    background-color:#3e8ef7;
    -webkit-transition: padding-left .3s;
    transition: padding-left .3s;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
    behavior: url(./toolkit/theme/css/PIE.htc);
}
.mb-header-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 186px;
    height: 50px;
    background-color: #3e8ef7;
    -webkit-transition: width .3s;
    transition: width .3s;
}
.mb-header .mb-header-logo-spread{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 186px;
    height: 100%;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: width .3s;
    transition: width .3s;
 }
.mb-header .mb-header-logo-shrink{
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 186px;
    height: 100%;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: width .3s;
    transition: width .3s;
}
.mb-header .mb-header-bar .layui-nav{
    border-radius:0px;
    background-color:#3e8ef7;
    padding: 0px;
}
.mb-header .mb-header-bar .layui-nav.layui-layout-left{
    left:186px;
}
.mb-header .mb-header-bar .layui-nav.layui-layout-right{
    right: 0;
}
.mb-header .mb-header-bar .layui-nav .layui-nav-item{
    line-height: 50px;
}
.mb-header .mb-header-bar .layui-nav .layui-nav-item:hover{
    background-color: #3579d2;
}
.mb-header .layui-nav-item>a{
    color: #fff;
}
.mb-header .layui-nav-item .layui-nav-child{
    color: #fff;
    background-color:#3e8ef7;
    top:50px;
    border:none;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
}
.mb-header .layui-nav-item .layui-nav-child a{
    color: #fff;
}
.mb-header .layui-nav .layui-nav-child dd.layui-this a,.mb-header .layui-nav-child dd.layui-this,.mb-header .layui-nav-item .layui-nav-child dd>a:hover{
    background-color: #3579d2;
}
.mb-header .layui-nav .layui-this:after,.mb-header .layui-nav-bar{
    height: 0px;
}

.mb-body .layui-icon-prev {
    left: 0;
    border-left: none;
    border-right: 1px solid #eeeeee;
}
.mb-body .layui-icon-next {
    right: 30px;
}
.mb-body > .layui-tab > .layui-tab-title li:first-child .layui-tab-close {
    display: none;
}
.mb-body .layui-icon-down {
    right: 0;
}
.admin-tabs-select.layui-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: 0 0;
}
.admin-tabs-select.layui-nav .layui-nav-item {
    line-height: 30px;
}
.admin-tabs-select.layui-nav .layui-nav-item > a {
    height: 30px;
}
.admin-tabs-select.layui-nav .layui-nav-child {
    top: 30px;
    left: auto;
    right: 0;
}
.admin-tabs-select.layui-nav .layui-nav-bar, .admin-tabs-select.layui-nav .layui-nav-more {
    display: none;
}
.mb-body .admin-tabs-control {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    border-left: 1px solid #eeeeee;
    z-index: 1000;
    background-color: white;
}
.mb-body .admin-tabs-control:hover{
    background-color: #eaecee;
}

.mb-theme-model>a{
     line-height: 26px;
     border: 1px solid;
     border-radius: 7px;
     padding: 0 10px;
 }
.mb-theme-model>a>.layui-nav-more{
    display: none;
}
.mb-theme-model.layui-nav-item .layui-nav-child{
    top: 39px;
}
.mb-header-bar .mb-flexible{

}
.mb-header-bar .mb-flexible>a{
    padding: 0 10px;
}
.mb-header-bar .mb-flexible .layui-icon-spread-left{
    display: none;
}

.mb-layout-admin> .mb-body{
    top: 50px;
    bottom: 20px;
    left: 186px;
    position: absolute;
    right: 0;
    z-index: 998;
    width: auto;
    box-sizing: border-box;
    background-color: #f1f4f5;
}
.mb-layout-admin> .mb-body. > .mb-card{
    bottom: 0px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.mb-layout-admin> .mb-body > .mb-card > .mb-card-body{
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    top: 25px;
    right: 0px;
    left: 0px;
    padding: 4px 4px;
}
.mb-body .layui-tab{
    margin: 0px;
}
.mb-body .layui-tab>.layui-tab-title,.mb-body .layui-tab>.layui-tab-title li,.mb-body .layui-tab>.layui-tab-title .layui-this:after{
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}
.mb-body .layui-tab.layui-tab-brief>.layui-tab-title .layui-this{
    color: #3e8ef7;
    background-color: #eaecee;
}
.mb-body .layui-tab>.layui-tab-title{
    background-color:#fff;
    padding: 0 80px 0 40px;
}
.mb-body .layui-tab.layui-tab-brief>.layui-tab-more li.layui-this:after,.mb-body .layui-tab.layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #3e8ef7;
}
.mb-body .layui-tab-content.mb-content{
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    top: 30px;
    right: 0;
    left: 0;
    padding: 5px;
}
.mb-body .layui-tab-content.mb-content>.layui-tab-item{
    min-height: 450px;
    background-color:#fff ;
}
.mb-layout-admin .mb-side-menu {
    position: fixed;
    z-index: 1001;
    transition: all .3s;
    -webkit-transition: all .3s;
    background-color: #fff !important;
    top: 52px;
    width: 186px;
    bottom: 0px;
    background: url(../images/leftline.gif) repeat-y right;
    left: 0;
    overflow-x: hidden;
}
.mb-layout-admin .mb-side-menu ul.layui-nav{
    background-color: #fff;
}
.ajax-content{
    padding-top: 5px;
}
/*.mb-layout-admin .mb-side-menu ul.layui-nav-tree>li{
    border-top: 1px #117591 solid;
}*/
.mb-layout-admin .mb-footer {
    position: fixed;
    left: 186px;
    right: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    background-color: #eee;
    text-align: center;
}
.mb-side-menu .layui-nav-tree,.mb-side-menu .layui-nav-itemed>a,.mb-side-menu .layui-nav-tree .layui-nav-item a{
    color: #000000;
}
.mb-side-menu .layui-nav-itemed>a{
    color: #000000 !important;
    background-color: #f8f8f8;
}
.mb-side-menu .layui-nav-tree .layui-nav-more {
    border-color:  #03A9F4 transparent transparent;
    border-top-color: #03A9F4;
}
.mb-side-menu .layui-nav .layui-nav-mored,.mb-side-menu  .layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent #03A9F4;
}
.mb-side-menu .layui-side-scroll{
    width: 204px;
}
.mb-side-menu .layui-nav-tree{
    width: 183px;
}
.mb-side-menu ul.layui-nav-tree>li{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eeeeee;
}
.mb-side-menu .layui-nav-tree .layui-nav-child dd.layui-this, .mb-side-menu .layui-nav-tree .layui-nav-child dd.layui-this a,.mb-side-menu .layui-nav-tree .layui-this,.mb-side-menu .layui-nav-tree .layui-this>a{
    background-color: #f8f8f8;
    color: #3e8ef7;
}
.mb-side-menu .layui-nav-tree .layui-this>a:hover ,.mb-side-menu .layui-nav-tree a:hover,.mb-side-menu .layui-nav-tree .layui-nav-itemed a:hover{
    background-color: #3e8ef7;
    color: #ffffff;
}
.mb-side-menu .layui-nav-tree .layui-nav-child dd.layui-this a{
    border: solid #3e8ef7;
    border-width:0 2px 0 0;
    background-color: #fff;
    font-weight: bold;
    webkit-box-shadow: -1px 0px 3px 0px #3e8ef7 inset ;
    box-shadow:  -1px 0px 3px 0px #3e8ef7 inset ;
}
.mb-side-menu .layui-nav-tree .layui-nav-bar{
    background-color: #3e8ef7;
    width: 0px !important;
}
.mb-side-menu .layui-nav-itemed>.layui-nav-child{
    background-color:#f8f8f8 !important;
}
.mb-side-menu .layui-nav-itemed>.layui-nav-child a >*{
    font-size: 12px;
}
.mb-side-menu .layui-nav-tree .layui-nav-item.layui-nav-itemed {
    border-left: 2px solid #3e8ef7;
}
.mb-side-menu .layui-nav-itemed>.layui-nav-child a{
    padding-left:35px;
}
.mb-side-menu .layui-nav-itemed>.layui-nav-child:before{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px;
    color: #1e9fff;
}
.mb-side-menu .layui-nav-itemed>.layui-nav-child a:before{
    content: "";
    display: block;
    width: 6px;
    position: absolute;
    z-index: 1;
    left: 27px;
    top: 19px;
    border: 1px dotted;
    border-width: 1px 0 0 0;
    color: #1e9fff;
}
.mb-side-menu .layui-nav-tree .layui-nav-child .layui-this >a>i.focus {
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    border-width: 8px;
    margin-top: -7px;
    right: 0px;
    border-style: solid;
    border-color: transparent #3e8ef7 transparent transparent;
}
/*标签栏用户信息*/
.user_nav .user-avatar{
    float: left;
    font-size: 28px;
}
.user_nav ul{
    line-height: 50px;
    height: 50px;
    margin-left: 33px;
}
.user_nav ul .user-name{
    height: 22px;
    line-height: 34px;
}
.user_nav ul .group-name{
    line-height: 20px;
    font-size: 12px;
}

@media screen and (max-width:992px) {
    .mb-layout-admin .mb-body, .mb-layout-admin .mb-footer{
        left: 0;
    }
}
@media screen and (max-width: 992px) {
    .mb-layout-admin .mb-side-menu {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        width: 186px;
    }
}
@media screen and (max-width: 992px) {
    .mb-layout-admin.shrink .mb-side-menu {
        transform: translate3d(-186px, 0, 0);
        -webkit-transform: translate3d(-186px, 0, 0);
        width: 186px;
    }
}
@media screen and (max-width:992px) {
    .mb-layout-admin .lefttop,.mb-layout-admin .topleft{
        display:none;
    }
}
/*错误页显示*/
.error404 {
    background: url(../images/404.png) no-repeat;
    width: 490px;
    margin-top: 75px;
    padding-top: 65px;
    margin: 0px auto;
}
.error404 h2 {
    font-size: 22px;
    padding-left: 154px;
}
.error404 p {
    padding-left: 154px;
    line-height: 35px;
    color: #717678;
}

/*提示层*/
.layui-layer-msg.mb-warn[type='dialog']{
    min-width: 100px;
    background-color: #df0606;
    filter: alpha(opacity=60);
    background-color: rgba(223, 6, 6, 0.6);
    color: #fff;
    border: none;
}
.layui-layer-msg.mb-warn[type='dialog'] .layui-layer-content {
    padding: 12px 25px;
    text-align: center;
}
/*loading扩展*/
.layui-layer-loading .layui-layer-content.layui-layer-loading3{
    width:50px;height:50px;background:url(../images/loading-3.gif) no-repeat
}
.layui-table-init .layui-icon.layui-icon-loading{
    width:50px;height:50px;background:url(../images/loading-3.gif) no-repeat
}
.layui-layer-loading .layui-layer-content.layui-layer-loading4{
    width:64px;height:64px;background:url(../images/loading_magic.gif) no-repeat;
}
.mb-loading_cat{
    width:400px;height:325px;background:url(../images/loading_cat.gif) no-repeat center 50%;
}
.loading-shade{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e4674;
    z-index: 20190101;
    position: fixed;
    pointer-events: auto;
}
.loaded{
    display: none;
}

/*窗口*/
iframe.mb-frame{
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow-x: hidden;
}
.layui-table-box{
    min-height: 200px;
}