<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head data-th-include="common/head"></head>
<body class="layui-layout-body layui-table-body">
<div data-th-include="common/common"></div>
<hr>
<div class="layui-container ajax-content" lay-filter="ajax-content">
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-xs3">
            <div class="mb-elem-quote">流程列表</div>
        </div>
        <div class="layui-col-md9 layui-col-xs9">
            <div class="mb-btn-group">
                <button title="删除" type="button" id="delBtn" class="mb-btn" shiro:hasPermission="user:delete"><i class="layui-icon"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <table class="layui-hide" id="processList"></table>
    </div>
    <script data-th-src="@{/js/act/process.js}" ></script>
</div>
</body>
</html>