<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head data-th-include="common/head"></head>
<body class="layui-layout-body layui-table-body">
<div data-th-include="common/common"></div>
<hr>
<div class="layui-container ajax-content" lay-filter="ajax-content">
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-xs3">
            <blockquote class="mb-elem-quote">字典管理</blockquote>
        </div>
        <div class="layui-col-md9 layui-col-xs9">
            <div class="mb-btn-group">
                <button title="新增" type="button" id="addBtn"  class="mb-btn" shiro:hasPermission="dict:add"><i class="layui-icon"></i>新增</button>
                <button title="修改" type="button" id="updBtn" class="mb-btn" shiro:hasPermission="dict:update"><i class="layui-icon"></i>修改</button>
                <button title="导出" type="button" id="expBtn" class="mb-btn" shiro:hasPermission="dict:exp"><i class="layui-icon layui-icon-download-circle"></i>导出</button>
                <button title="删除" type="button" id="delBtn" class="mb-btn" shiro:hasPermission="dict:delete"><i class="layui-icon"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="site-tips layui-col-md3 layui-col-xs12" style="min-height: 400px;padding: 10px;">
            <div class="layui-card" style="min-height: 380px;">
                <div class="search_box">
                    <input  placeholder="请输入字典名称" type="text" id="search_input_dic" autocomplete="off" num="0" >
                    <span class="btn_search layui-icon layui-icon-search" id="search_input_span"></span>
                </div>
                <ul id="dicTree" class="layui-box layui-tree"></ul>
            </div>
        </div>
        <div class="site-tips layui-col-md9 layui-col-md9 layui-col-xs12 layui-anim layui-anim-up" style="min-height: 400px;padding: 10px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-row layui-col-xs12 layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon">&#xe60a;&nbsp;&nbsp;</i>基本信息</div>
                        <div class="layui-card-body" id="dicInfoPanle" style="min-height: 130px">
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-xs12  layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon">&#xe672;&nbsp;&nbsp;</i>数据列表</div>
                        <div class="layui-card-body" id="dicListPanle" style="min-height: 50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script data-th-src="@{/js/app/system/dict/dict.js}"></script>
</div>
</body>
</html>