<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muiboot.shiro.common.dao.GenerateMapper">
  <resultMap id="BaseResultMap" type="com.muiboot.shiro.common.domain.Generate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CLASS_NAME" jdbcType="VARCHAR" property="className" />
    <result column="CURRENTVAL" jdbcType="BIGINT" property="currentval" />
    <result column="MAXVAL" jdbcType="BIGINT" property="maxval" />
    <result column="INCREMENT" jdbcType="TINYINT" property="increment" />
    <result column="cache" jdbcType="TINYINT" property="cache" />
  </resultMap>
</mapper>