<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muiboot.shiro.system.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.muiboot.shiro.system.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
	<result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CRATE_TIME" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="SSEX" jdbcType="CHAR" property="ssex" />
    <result column="THEME" jdbcType="VARCHAR" property="theme" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
  </resultMap>
  
  <select id="findUserWithDept" resultType="user" parameterType="user">
  		SELECT U.USER_ID USERID,U.USERNAME,U.EMAIL,U.MOBILE,U.STATUS,U.CRATE_TIME CRATETIME,
  		U.SSEX,D.GROUP_NAME GROUPNAME,U.REAL_NAME REALNAME   FROM T_USER U
  		LEFT JOIN M_GROUP D ON(U.GROUP_ID = D.GROUP_ID AND D.GROUP_TYPE='2')
  		WHERE 1=1
  		<if test="username != null and username != ''">
        	AND U.USERNAME = #{username}
	    </if>
	    <if test="groupId != null and groupId != ''">
	        AND D.GROUP_ID = #{groupId}
	    </if>
  		<if test="ssex != null and ssex != ''">
	        AND U.SSEX = #{ssex}
	    </if>
	    <if test="status != null and status != ''">
	        AND U.STATUS = #{status}
	    </if>
  		order by U.USER_ID
  </select>
  
    
  <select id="findUserWithRole" resultType="userWithRole">
		SELECT U.USER_ID USERID,U.USERNAME,U.DEPT_ID DEPTID,U.EMAIL,U.MOBILE,
		U.STATUS,U.SSEX,UR.ROLE_ID ROLEID FROM T_USER U
		LEFT JOIN T_USER_ROLE UR ON (U.USER_ID = UR.USER_ID)
		WHERE U.USER_ID = #{userId}
  </select>
  
  <select id="findUserProfile" resultType="user" parameterType="user">
	SELECT
		U .USERNAME,
		U .USER_ID USERID,
		D .GROUP_NAME GROUPNAME,
		U .MOBILE,
		U .EMAIL,
		U .AVATAR,
		U .DESCRIPTION,
		U .SSEX,
		U .DEPT_ID DEPTID,
		GROUP_CONCAT(R.ROLE_NAME) AS ROLENAME
	FROM
		T_USER U
	LEFT JOIN M_GROUP D ON U .GROUP_ID = D .GROUP_ID
	LEFT JOIN T_USER_ROLE UR ON U .USER_ID = UR.USER_ID
	LEFT JOIN T_ROLE R ON R.ROLE_ID = UR.ROLE_ID
	WHERE
		U .USER_ID = #{userId}
	GROUP BY
		U .USERNAME,
		D .GROUP_NAME,
		U .MOBILE,
		U .EMAIL,
		U .AVATAR,
		U .DESCRIPTION,
		U .SSEX,
		U .USER_ID,
		U .DEPT_ID
  </select>
  
</mapper>