<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head data-th-include="common/head"></head>
<body class="layui-layout-body">
<div data-th-include="common/common"></div>
<fieldset class="layui-elem-field layui-field-title"><legend>菜单管理</legend></fieldset>
<div class="layui-container ajax-content" lay-filter="ajax-content">
    <form class="layui-form menu-table-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline" style="float: right;">
                <div class="layui-btn-group">
                    <button title="查询" type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="search()"><i class="layui-icon layui-icon-search"></i></button>
                    <button title="新增" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:add"><i class="layui-icon"></i></button>
                    <button title="修改" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:update"><i class="layui-icon"></i></button>
                    <button title="导出" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" data-table-action="excel" onclick="exportMenuExcel()"><i class="layui-icon layui-icon-download-circle"></i></button>
                    <button title="删除" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:delete"><i class="layui-icon"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <fieldset class="layui-elem-field" style="min-height: 400px">
            <legend>菜单管理</legend>
            <div class="layui-col-md3 layui-col-xs12" style="min-height: 400px">
                <ul id="menuTree" class="layui-box layui-tree"></ul>
            </div>
            <div class="site-tips layui-col-md9 layui-col-xs12" style="min-height: 400px;padding: 10px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-row layui-col-xs12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="layui-icon">&#xe60a;&nbsp;&nbsp;</i>基本信息</div>
                            <div class="layui-card-body" id="menuInfoPanle" style="min-height: 130px">
                            </div>
                        </div>
                    </div>
                    <div class="layui-row layui-col-md12">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="layui-icon">&#xe672;&nbsp;&nbsp;</i>权限信息</div>
                                <div class="layui-card-body" id="menuButtonPanle" style="min-height: 50px">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="layui-icon">&#xe770;&nbsp;&nbsp;</i>角色信息</div>
                                <div class="layui-card-body" id="menuAuthPanle"  style="min-height: 50px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <script data-th-inline="javascript">var ctx = [[@{/}]];</script>
    <script data-th-src="@{/js/app/system/menu/menu.js}"></script>
</div>
</body>
</html>