<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head data-th-include="common/head"></head>
<body class="layui-layout-body">
<div data-th-include="common/common"></div>
<fieldset class="layui-elem-field layui-field-title"><legend>菜单管理</legend></fieldset>
<div class="layui-container ajax-content" lay-filter="ajax-content">
    <form class="layui-form menu-table-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline" style="float: right;">
                <div class="layui-btn-group">
                    <button title="查询" type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="search()"><i class="layui-icon layui-icon-search"></i></button>
                    <button title="新增" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:add"><i class="layui-icon"></i></button>
                    <button title="修改" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:update"><i class="layui-icon"></i></button>
                    <button title="导出" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" data-table-action="excel" onclick="exportMenuExcel()"><i class="layui-icon layui-icon-download-circle"></i></button>
                    <button title="删除" type="button"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:delete"><i class="layui-icon"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <fieldset class="layui-elem-field" style="min-height: 400px">
            <legend>菜单管理</legend>
            <div class="layui-col-md3 layui-col-xs12" style="min-height: 400px">
                <ul id="menuTree" class="layui-box layui-tree"></ul>
            </div>
            <div class="site-tips layui-col-md9 layui-col-xs12" style="min-height: 400px">
                <table class="layui-table" lay-size="sm">
                    <colgroup><col width="150"><col width="200"><col width="150"><col width="200"></colgroup>
                    <tbody>
                    <tr><th>菜单ID</th><td>{{ menu.menuId }}</td><th>菜单名称</th><td>{{ menu.menuName }}</td></tr>
                    <tr><th>上级菜单</th><td>{{ menu.name }}</td><th>权限描述</th><td>{{ menu.perms }}</td></tr>
                    <tr><th>菜单类型</th><td>{{ menu.type }}</td><th>菜单图标</th><td>{{ menu.icon }}</td></tr>
                    <tr><th>菜单地址</th><td>{{ menu.url }}</td><th></th><td></td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <script data-th-inline="javascript">var ctx = [[@{/}]];</script>
    <script data-th-src="@{/js/app/system/menu/menu.js}"></script>
</div>
</body>
</html>