@charset "utf-8";
/* CSS Document */
/*登陆页BTN*/
a.btn-Login, a.btn-register {
	width: 235px;
}
.loginCenter-moudleRight A.moudle1.loginCenter-moudle1.loginCenter-mStyle {
	padding-top: 0px;
}
.loginCenter-moudleRight A.moudle2.loginCenter-moudle2.loginCenter-mStyle {
	padding-top: 0px;
}
.loginCenter-moudleRight A.moudle3.loginCenter-moudle3.loginCenter-mStyle {
	padding: 0px;
}