<div class="ant-layout-content">
    <div>
        <div class="pageHeader___Pze-l">
            <div class="detail___1rfGA">
                <div class="main___3Slzs">
                    <div class="row___3eawN"></div>
                    <div class="row___3eawN">
                        <div class="content___BnbuS">
                            <div class="pageHeaderContent___1WBMY">
                                <div class="avatar___3yyKI"><span
                                        class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-image"><img
                                        src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png"></span>
                                </div>
                                <div class="content___3h7ql">
                                    <div class="contentTitle___4Mmy4">早安，曲丽丽，祝你开心每一天！</div>
                                    <div>交互专家 | 蚂蚁金服－某某某事业群－某某平台部－某某技术部－UED</div>
                                </div>
                            </div>
                        </div>
                        <div class="extraContent___3mck4">
                            <div class="extraContent___1Im9T">
                                <div class="statItem___axqF9"><p>项目数</p>
                                    <p>56</p></div>
                                <div class="statItem___axqF9"><p>团队内排名</p>
                                    <p>8<span> / 24</span></p></div>
                                <div class="statItem___axqF9"><p>项目访问</p>
                                    <p>2,223</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content___13wW7">
            <div class="ant-row">
                <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-24 ant-col-lg-24 ant-col-xl-16">
                    <div class="ant-card projectList___3oQ1f ant-card-contain-grid" style="margin-bottom: 24px;">
                        <div class="ant-card-head">
                            <div class="ant-card-head-wrapper">
                                <div class="ant-card-head-title">进行中的项目</div>
                                <div class="ant-card-extra"><a href="#/">全部项目</a></div>
                            </div>
                        </div>
                        <div class="ant-card-body" style="padding: 0px;">
                            <div class="ant-card-grid projectGrid___udXto">
                                <div class="ant-card">
                                    <div class="ant-card-body" style="padding: 0px;">
                                        <div class="ant-card-meta">
                                            <div class="ant-card-meta-detail">
                                                <div class="ant-card-meta-title">
                                                    <div class="cardTitle___dc4KN"><span
                                                            class="ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/WdGqmHpayyMjiEhcKoVE.png"></span><a
                                                            href="#/">Alipay</a></div>
                                                </div>
                                                <div class="ant-card-meta-description">那是一种内在的东西，他们到达不了，也无法触及的</div>
                                            </div>
                                        </div>
                                        <div class="projectItemContent___2M3Iz"><a href="#/">科学搬砖组</a><span
                                                class="datetime___35Apf"
                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-card-grid projectGrid___udXto">
                                <div class="ant-card">
                                    <div class="ant-card-body" style="padding: 0px;">
                                        <div class="ant-card-meta">
                                            <div class="ant-card-meta-detail">
                                                <div class="ant-card-meta-title">
                                                    <div class="cardTitle___dc4KN"><span
                                                            class="ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/zOsKZmFRdUtvpqCImOVY.png"></span><a
                                                            href="#/">Angular</a></div>
                                                </div>
                                                <div class="ant-card-meta-description">希望是一个好东西，也许是最好的，好东西是不会消亡的</div>
                                            </div>
                                        </div>
                                        <div class="projectItemContent___2M3Iz"><a href="#/">全组都是吴彦祖</a><span
                                                class="datetime___35Apf"
                                                title="Mon Jul 24 2017 08:00:00 GMT+0800 (中国标准时间)">1 年前</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-card-grid projectGrid___udXto">
                                <div class="ant-card">
                                    <div class="ant-card-body" style="padding: 0px;">
                                        <div class="ant-card-meta">
                                            <div class="ant-card-meta-detail">
                                                <div class="ant-card-meta-title">
                                                    <div class="cardTitle___dc4KN"><span
                                                            class="ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/dURIMkkrRFpPgTuzkwnB.png"></span><a
                                                            href="#/">Ant Design</a></div>
                                                </div>
                                                <div class="ant-card-meta-description">城镇中有那么多的酒馆，她却偏偏走进了我的酒馆</div>
                                            </div>
                                        </div>
                                        <div class="projectItemContent___2M3Iz"><a href="#/">中二少女团</a><span
                                                class="datetime___35Apf"
                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-card-grid projectGrid___udXto">
                                <div class="ant-card">
                                    <div class="ant-card-body" style="padding: 0px;">
                                        <div class="ant-card-meta">
                                            <div class="ant-card-meta-detail">
                                                <div class="ant-card-meta-title">
                                                    <div class="cardTitle___dc4KN"><span
                                                            class="ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/sfjbOqnsXXJgNCjCzDBL.png"></span><a
                                                            href="#/">Ant Design Pro</a></div>
                                                </div>
                                                <div class="ant-card-meta-description">那时候我只会想自己想要什么，从不想自己拥有什么</div>
                                            </div>
                                        </div>
                                        <div class="projectItemContent___2M3Iz"><a href="#/">程序员日常</a><span
                                                class="datetime___35Apf"
                                                title="Sun Jul 23 2017 08:00:00 GMT+0800 (中国标准时间)">1 年前</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-card-grid projectGrid___udXto">
                                <div class="ant-card">
                                    <div class="ant-card-body" style="padding: 0px;">
                                        <div class="ant-card-meta">
                                            <div class="ant-card-meta-detail">
                                                <div class="ant-card-meta-title">
                                                    <div class="cardTitle___dc4KN"><span
                                                            class="ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/siCrBXXhmvTQGWPNLBow.png"></span><a
                                                            href="#/">Bootstrap</a></div>
                                                </div>
                                                <div class="ant-card-meta-description">凛冬将至</div>
                                            </div>
                                        </div>
                                        <div class="projectItemContent___2M3Iz"><a href="#/">高逼格设计天团</a><span
                                                class="datetime___35Apf"
                                                title="Sun Jul 23 2017 08:00:00 GMT+0800 (中国标准时间)">1 年前</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-card-grid projectGrid___udXto">
                                <div class="ant-card">
                                    <div class="ant-card-body" style="padding: 0px;">
                                        <div class="ant-card-meta">
                                            <div class="ant-card-meta-detail">
                                                <div class="ant-card-meta-title">
                                                    <div class="cardTitle___dc4KN"><span
                                                            class="ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/kZzEzemZyKLKFsojXItE.png"></span><a
                                                            href="#/">React</a></div>
                                                </div>
                                                <div class="ant-card-meta-description">生命就像一盒巧克力，结果往往出人意料</div>
                                            </div>
                                        </div>
                                        <div class="projectItemContent___2M3Iz"><a href="#/">骗你来学计算机</a><span
                                                class="datetime___35Apf"
                                                title="Sun Jul 23 2017 08:00:00 GMT+0800 (中国标准时间)">1 年前</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ant-card activeCard___1sEm8">
                        <div class="ant-card-head">
                            <div class="ant-card-head-wrapper">
                                <div class="ant-card-head-title">动态</div>
                            </div>
                        </div>
                        <div class="ant-card-body" style="padding: 0px;">
                            <div class="ant-list ant-list-lg ant-list-split">
                                <div class="ant-spin-nested-loading">
                                    <div class="ant-spin-container">
                                        <div class="activitiesList___1iu8_">
                                            <div class="ant-list-item">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-avatar"><span
                                                            class="ant-avatar ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png"></span>
                                                    </div>
                                                    <div class="ant-list-item-meta-content"><h4
                                                            class="ant-list-item-meta-title"><span><a
                                                            class="username___3QGFo">曲丽丽</a>&nbsp;<span
                                                            class="event___17TiG">在 <a
                                                            href="http://github.com/">高逼格设计天团</a> 新建项目 <a
                                                            href="http://github.com/">六月迭代</a></span></span></h4>
                                                        <div class="ant-list-item-meta-description"><span
                                                                class="datetime___35Apf"
                                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-list-item">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-avatar"><span
                                                            class="ant-avatar ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/cnrhVkzwxjPwAaCfPbdc.png"></span>
                                                    </div>
                                                    <div class="ant-list-item-meta-content"><h4
                                                            class="ant-list-item-meta-title"><span><a
                                                            class="username___3QGFo">付小小</a>&nbsp;<span
                                                            class="event___17TiG">在 <a
                                                            href="http://github.com/">高逼格设计天团</a> 新建项目 <a
                                                            href="http://github.com/">六月迭代</a></span></span></h4>
                                                        <div class="ant-list-item-meta-description"><span
                                                                class="datetime___35Apf"
                                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-list-item">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-avatar"><span
                                                            class="ant-avatar ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/gaOngJwsRYRaVAuXXcmB.png"></span>
                                                    </div>
                                                    <div class="ant-list-item-meta-content"><h4
                                                            class="ant-list-item-meta-title"><span><a
                                                            class="username___3QGFo">林东东</a>&nbsp;<span
                                                            class="event___17TiG">在 <a
                                                            href="http://github.com/">中二少女团</a> 新建项目 <a
                                                            href="http://github.com/">六月迭代</a></span></span></h4>
                                                        <div class="ant-list-item-meta-description"><span
                                                                class="datetime___35Apf"
                                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-list-item">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-avatar"><span
                                                            class="ant-avatar ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/WhxKECPNujWoWEFNdnJE.png"></span>
                                                    </div>
                                                    <div class="ant-list-item-meta-content"><h4
                                                            class="ant-list-item-meta-title"><span><a
                                                            class="username___3QGFo">周星星</a>&nbsp;<span
                                                            class="event___17TiG">将 <a
                                                            href="http://github.com/">5 月日常迭代</a> 更新至已发布状态</span></span>
                                                    </h4>
                                                        <div class="ant-list-item-meta-description"><span
                                                                class="datetime___35Apf"
                                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-list-item">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-avatar"><span
                                                            class="ant-avatar ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/ubnKSIfAJTxIgXOKlciN.png"></span>
                                                    </div>
                                                    <div class="ant-list-item-meta-content"><h4
                                                            class="ant-list-item-meta-title"><span><a
                                                            class="username___3QGFo">朱偏右</a>&nbsp;<span
                                                            class="event___17TiG">在 <a
                                                            href="http://github.com/">工程效能</a> 发布了 <a
                                                            href="http://github.com/">留言</a></span></span></h4>
                                                        <div class="ant-list-item-meta-description"><span
                                                                class="datetime___35Apf"
                                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-list-item">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-avatar"><span
                                                            class="ant-avatar ant-avatar-circle ant-avatar-image"><img
                                                            src="https://gw.alipayobjects.com/zos/rmsportal/jZUIxmJycoymBprLOUbT.png"></span>
                                                    </div>
                                                    <div class="ant-list-item-meta-content"><h4
                                                            class="ant-list-item-meta-title"><span><a
                                                            class="username___3QGFo">乐哥</a>&nbsp;<span
                                                            class="event___17TiG">在 <a
                                                            href="http://github.com/">程序员日常</a> 新建项目 <a
                                                            href="http://github.com/">品牌迭代</a></span></span></h4>
                                                        <div class="ant-list-item-meta-description"><span
                                                                class="datetime___35Apf"
                                                                title="Fri Jul 20 2018 00:39:24 GMT+0800 (中国标准时间)">几秒前</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/bsds/record/sheet.js}"></script>
<script data-th-src="@{js/app/bsds/record/sheetEdit.js}"></script>