<div class="modal fade" id="sheet-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="sheet-add-modal-title">新增记录单</h3>
            </div>
            <div class="modal-body">
                <form id="sheet-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon col-sm-2">
					               	 模板编号:
					            </span>
                                <div class="form-group">
                                    <input type="text" name="rCode" class="form-control">
                                    <input type="text" hidden name="rId" class="form-control">
                                    <input type="text" hidden name="rVesion" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon col-sm-2">
					               	 分类:
					            </span>
                                <div class="form-group">
                                    <select class="form-control"  name="rType">
                                        <option value="">--请选择记录单分类--</option>
                                        <option value="1">实验室溶液配制记录模板（流动相）	</option>
                                        <option value="2">实验室溶液配制记录模板（标准溶液）</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon col-sm-2">
					               	 溶液名称:
					            </span>
                                <div class="form-group">
                                    <input type="text" name="rSolName" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon col-sm-2">浓度:</span>
                                <div class="form-group">
                                    <input type="text" name="rPotency" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon col-sm-2">参考方法: </span>
                                <div class="form-group">
                                    <input type="text" name="rRefMethod" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon col-sm-2">模板附件:</span>
                                <div class="form-group">
                                    <input type="text" name="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="sheet-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>