<div class="card">
    <div data-th-include="bsds/record/recordSheetAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="datasearch_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="recordSheet:add,recordSheet:delete,recordSheet:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#sheet-add" shiro:hasPermission="recordSheet:add">新增</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateSheet()" shiro:hasPermission="recordSheet:update">修改</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteSheet()" shiro:hasPermission="recordSheet:delete">删除</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="sheet-table-form">
                        <div class="row no-gutters">
                            <div class="col-sm-6">
                                <h4>记录单列表</h4>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group btn-group-justified float-right" role="group" aria-label="Small button group">
                                    <button type="button" class="btn btn-outline-info active" data-name="">全部</button>
                                    <button type="button" class="btn btn-outline-info" data-name="1">流动相</button>
                                    <button type="button" class="btn btn-outline-info" data-name="2">标准溶液</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="form-group">
                                        <input type="text" name="rSolName" class="form-control" placeholder="输入模板编号/溶液名称/浓度/参考方法">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="recordSheetTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/bsds/record/sheet.js}"></script>
<script data-th-src="@{js/app/bsds/record/sheetEdit.js}"></script>