<div class="card">
    <div data-th-include="bsds/record/applyPrint"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="toolbar" class="dataTables_filter">
                <form class="sheet-table-form">
                    <div class="row">
                        <div class="col-sm-6" id="empty-col">
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group btn-group-justified" role="group" aria-label="Small button group">
                                <button type="button" class="btn btn-outline-info active" data-name="">全部</button>
                                <button type="button" class="btn btn-outline-info" data-name="1">流动相</button>
                                <button type="button" class="btn btn-outline-info" data-name="2">标准溶液</button>
                            </div>
                        </div>
                        <div class="col-sm-3" id="input-col">
                            <div class="input-group">
                                <input type="text" name="rSolName" onfocus="wider('input-col','empty-col')" onblur="wider('empty-col','input-col')" style="border: 1px solid #00BCD4;margin-right: -1px;" class="form-control" placeholder="输入模板编号/溶液名称/浓度/参考方法">
                                <span class="input-group-append"><button type="button" class="btn btn-outline-info zmdi zmdi-search" onclick="search()" title="搜索"  ></button></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <table id="dataTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/bsds/record/sheetApply.js}"></script>
