@charset "UTF-8";
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track
{
  border-radius: 1px;
}
::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background: rgba(0,0,0,.1);
}
::-webkit-scrollbar{width:8px;background:#f5f5f5;border-radius:4px}::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:4px}::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px #e0e0e0 inset}::-webkit-scrollbar-corner{background:transparent}.hotelInfoBox::-webkit-scrollbar{width:8px;background:#eee;border-radius:5px}::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:5px}::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0, 0, 0, .1) inset}::-webkit-scrollbar-corner{background:transparent}.city_mdd_depa,.city_mdd_dest,.city_mdd_hotel{display:none}.scenic_list::-webkit-scrollbar{width:8px;background-color:rgba(155,155,155,0.1);border-radius:5px}.scenic_list::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:5px}.scenic_list::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0,0,0,.1) inset}.scenic_list::-webkit-scrollbar-corner{background:transparent}

.shrink .layui-footer{
  left: 60px;
}
.shrink .layui-body{
  left: 60px;
}
.shrink .layui-side,.layui-bg-black{
  width: 60px;
}
.shrink .layui-side .layui-side-scroll a span{
  display: none;
}
.layui-nav .layui-icon-spread-left{
  display: none;
}
.shrink .layui-nav .layui-icon-shrink-right{
  display: none;
}
.shrink .layui-nav .layui-icon-spread-left{
  display: block;
}
.shrink .layui-side-scroll li>a,.shrink .layui-side-scroll dd>a{
  width: 40px;
  padding-right: 0px;
}
.layui-layout-admin .layui-footer{
  height:24px;
  line-height:24px;
  text-align: center;
}
.layui-input, .layui-select, .layui-textarea{
  height: 28px !important;
}
.site-tips{
  margin-bottom: 10px;
  padding: 15px;
  line-height: 22px;
  border-left: 5px solid #0078AD;
  background-color: #f2f2f2;
}
.ajax-content{
  width: 100%;
}
.layui-form-item{
  margin-bottom: 0px;
}
.layui-form-label[lable-verify="required"]:after{
  color: red;
  content: "*";
  margin-right: -5px;
}
input.layui-form-danger[type=radio] + div.layui-form-radio{
  color: #FF5722!important
}
input.layui-form-danger[type=radio] + div.layui-form-radio>i{
  color: #FF5722!important
}