@charset "utf-8";
/*滚动条设置*/
html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track
{
	/*border-radius: 1px;*/
}
::-webkit-scrollbar-thumb
{
	/*border-radius: 1px;*/
	background: rgba(0,0,0,.1);
}
::-webkit-scrollbar{width:2px;background:#f5f5f5;/*border-radius:4px*/}::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:4px}::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px #e0e0e0 inset}::-webkit-scrollbar-corner{background:transparent}.hotelInfoBox::-webkit-scrollbar{width:8px;background:#eee;border-radius:5px}::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:5px}::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0, 0, 0, .1) inset}::-webkit-scrollbar-corner{background:transparent}.city_mdd_depa,.city_mdd_dest,.city_mdd_hotel{display:none}.scenic_list::-webkit-scrollbar{width:8px;background-color:rgba(155,155,155,0.1);border-radius:5px}.scenic_list::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:5px}.scenic_list::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0,0,0,.1) inset}.scenic_list::-webkit-scrollbar-corner{background:transparent}

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f5f5f5;
}
a {
	text-decoration: none;
}
a,
button,
input,
select,
textarea,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[onclick] {
	outline: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul li {
	list-style-type: none;
}
.wrapper {
	background-color: #f5f5f5;
	width: 100%;
	min-width: 1190px;
	color:#666;
}
.login-top {
	height: 480px;
	width: 100%;
}
.login-topBg {
	background: url(../img/login_img.gif) #265dac no-repeat center;
	height: 480px;
	min-width: 1190px;
}
.login-topBg1 {
	
	height: 480px;
}
.login-topTab {
	
	height: 84px;
	width: 100%;
	text-align: center;
}
.login-topTabBg {
	width: 1190px;
	margin: 0px auto;
}
.login-topTab-logo {
	float: left;
	padding: 18px 0px;
}
.login-topTab-logo img {
	display: inline-block;
}
.login-topTab-right {
	float: right;
	padding: 35px 0px;
}
.login-top-right{
	float:right;font-size: 12px;margin-right:10px;margin-top: 32px;
}
.login-top-right a,.login-top-right a:hover{ text-decoration:none; color: white;}
.login-topStyle {
	color: #ffffff;
	width: 1190px;
	position: relative;
	margin: 0px auto;
}
a.btnStyle {
	font-size: 20px;
	line-height: 30px;
	width: 300px;
	border-radius: 5px;
	display: inline-block;
}
.login-topStyle3 {
	background: url(../img/login_bg_white.png) center center repeat;
	width: 228px;
	height: auto;
	overflow: hidden;
	top: 34px;
	right: 50px;
	position: absolute;
	border-radius: 5px;
	padding: 22px 30px;
}
.login-topStyle3 h3 {
	font-size: 22px;
	line-height: 33px;
	color: #ffffff;
	padding-bottom: 22px;
	font-family: "微软雅黑";
    text-align: center;
}
.ui-form-item {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 18px;
}
.ui-form-item .icon{
	position: absolute;color: #737272;margin-top: 7px;font-size: 17px;margin-left: 3px;
}
.ui-form-item.loginUsername input[name="username"], .ui-form-item.loginPassword input[type="password"] {
	width: 207px;
	border: none;
	border: 1px solid #ffffff;
	padding: 8px 0px 8px 20px;
	
}
.ui-form-item.loginPassword {
}
.ui-form-item.loginPassword input[type="password"] {
}
.login_reme {
	padding-bottom: 8px;
	margin-top: 20px\0;
}
.login_reme a.reme1 {
	font-size: 12px;
	line-height: 18px;
	vertical-align: top;
}
.login_reme a.reme2 {
	font-size: 12px;
	vertical-align: top;
	margin-left: 97px;
	color: #ffffff;
}
span.login_error {
	font-size: 14px;
	line-height: 22px;
	display: none;
	width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ED3232;
	background: #f6dfdf;
	border: 1px solid rgba(237,50,50,0.3);
	border-radius: 3px;
	text-align: center;
}
.invalid span.login_error{
	display: block;
}
a.btn-Login, a.btn-register {
	 width: 230px;
	 font-size: 14px;
	 line-height: 22px;
	 text-align: center;
	 padding: 8px 0px;
	 margin: 10px 0px 0px 0px;
	 cursor: pointer;
	 box-shadow: 1px 1px 5px 1px #fefefe;
 }
a.btn-Login.loading {
	box-shadow: 0px 0px 10px 5px #caddc7;
}
a.btn-Login {
	color: #3598db;
	background-color: #ffffff;
}
a.btn-register,a.btn-Login {
	color: #ffffff;
	background-color: #3598db;
}
a.btn-register:hover,a.btn-Login:hover {
	box-shadow: 0px 0px 10px 5px #fefefe;
}
.loginCen {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.login-center {
	background: url(../img/login-center-bg.jpg) center center no-repeat;
	width: 1190px;
	height: 140px;
	margin: 20px auto 0px auto;
	position: relative;
}
.loginCenter-moudle {
	padding: 0px 0px 0px 40px;
	overflow: hidden;
	height: 140px;
	font-family:"微软雅黑"
}
.loginCenter-moudleLeft {
	float: left;
	margin-top: 29px;
	font-weight: bold;
    margin-right: 60px;
}
.loginCenter-moudleLeft span {
	display: block;
}
.loginCenter-moudleLeft span.number {
	color: #fb5016;
	font-size: 48px;
	line-height: 72px;
}
.loginCenter-moudleLeft span.text {
	font-size: 14px;
	line-height: 22px;
	color: #4c4c4c;
}
.loginCenter-moudleRight {
	overflow: hidden;
	float: left;
	width: 1067px;
	height: 140px;
}
.loginCenter-moudleRight a.loginCenter-mStyle {
	width: 335px;
	position: relative;
	top: 50%;
	margin-top: -35px;
	display:block;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle1 {
	width: 312px;
	-moz-width: 312px;
	float: left;
	margin-right: 5px;
}
.loginCenter-moudleRight a span.moudle-img {
	height: 64px;
	width: 64px;
	float: left;
	padding-right: 5px;
}
.loginCenter-moudleRight a span.moudle-img img {
}
.loginCenter-moudleRight a span.moudle-text {
	display: inline-block;
	-moz-width: 242px;
	-webkit-width: 262px;
	text-align: left;
	position: relative;
	top: 50%;
	margin-top: 8px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle3 span.moudle-text {
	margin-top: 4px;
}
.loginCenter-moudleRight a span.moudle-text .moudle-text1 {
	font-size: 18px;
	line-height: 26px;
	display: block;
	color: #767676;
	text-align: left;
	font-family:"微软雅黑"
}
.loginCenter-moudleRight a span.moudle-text .moudle-text2 {
	font-size: 14px;
	font-family:"微软雅黑";
	line-height: 18px;
	color: #969696;
}
.loginCenter-moudleRight a span.moudle-text .moudle-text3 {
	font-size: 12px;
	line-height: 22px;
	display: block;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle2 {
	float: left;
	margin-right: 5px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle1.moudle1 span.moudle-text {
	top: -19px;
	left: -60px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle2.moudle2 span.moudle-text {
	top: -37px;
	left: -40px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle3.moudle3 span.moudle-text {
	top: -19px;
	left: -56px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle3 {
	float: left;
}
/*登录页图标*/
.login-icon{
	background-image: url("../img/login_icon.png");
	position: absolute;
	left: 0px;
	top: 0px;
	width: 65px;
	height: 65px;
	z-index: 1;
}
.login-icon.usb-dark{
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.login-icon.usb-dark:hover{
	background-repeat:no-repeat;
	background-position:0px -65px;
}
.login-icon.usb-light{
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.login-icon.usb-light:hover{
	background-repeat:no-repeat;
	background-position:0px -65px;
}
.login-icon.list-light{
	background-repeat:no-repeat;
	background-position:-66px 0px;
}
.login-icon.list-light:hover{
	background-repeat:no-repeat;
	background-position:-66px -65px;
}
.login-icon.computer-light{
	background-repeat:no-repeat;
	background-position:-131px 0px;
}
.login-icon.computer-light:hover{
	background-repeat:no-repeat;
	background-position:-131px -65px;
}

/*ʾϢʽ*/
.error-information {
	color: #d02e50;
	font-size: 12px;
	padding-bottom: 3px;
}
/*footerʽ*/
.footer {
	height: 60px;
	background-color: #e1e1e1;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	line-height: 60px;
	min-width: 1190px;
}
.footer span.footerText {
	font-size: 14px;
	color: #606060;
	display: inline-block;
}
@media screen and (max-width: 992px) {
	.wrapper,.login-top,.login-topBg,.login-topStyle,.footer,.loginCen,.login-center {
		width: auto;
		min-width: 200px;
	}
}
@media screen and (max-width: 992px) {
	.login-topBg {
		background-position: right;
	}
}