/**
   #框架样式
 */
@charset "UTF-8";
/*字典样式*/
.DIC_DISABLE_0{
    color: red;
    border-bottom: 1px dashed;
}
.DIC_DISABLE_1{
    color: #67d100;
    border-bottom: 1px dashed;
}
.DIC_ROLE_LEVEL_0{
    color: #67d100;
}
.DIC_ROLE_LEVEL_1{
    color: #1E9FFF;
}