/**
   #按钮样式
 */
/*按钮*/
.mb-btn{
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    line-height: normal;

    outline: 0;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;

    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    position: relative;
}
.mb-btn:hover{
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
}
.mb-btn:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #1E9FFF 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}
.mb-btn.mb-btn-form{
    height: 22px;
    padding: 0 5px;
    font-size: 12px;
    width: 60px;
}
.mb-btn.mb-btn-form +.mb-btn.mb-btn-form{
    margin-left: 10px;
}
.mb-btn.mb-btn-search{
    background-color: #1E9FFF;
}
.mb-btn.mb-btn-empty{
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}
.mb-btn.mb-btn-empty:hover{
    border-color: #1E9FFF;
    color: #1E9FFF;
}
.mb-close:hover{
    color: #3f97c9;
}

/*按钮组*/
.mb-btn-group {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-bottom: 2px;
}
.mb-btn-group i{
    font-size: 14px;
}
.mb-btn-group .mb-btn {
    color: #0C0C0C;
    font-weight: 500;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 28px;
    padding: 0 6px;
    border: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    line-height: 28px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    letter-spacing: .03em;
    background-color: transparent;
    animation-duration: 0.0001s;
    animation-name: mui-btn-inserted;
}
.mb-btn-group>.mb-btn:hover,.mb-btn-group>.mb-btn:focus,.mb-btn-group>.mb-btn:active{
    color: #fff;
    background-color: #1e9fff;
}

.search_box {
    height: 36px;
    border: #3eafe0 solid 2px;
}
.search_box input{
    border: none;
    height: 20px;
    line-height: 20px;
    padding: 8px 10px;
    outline: none;
    color: #666;
    font-size: 12px;
    width: 74%;
}
.search_box .btn_search {
    float: right;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background-color: #3eafe0;
    text-align: center;
    font: 26px/38px sans-serif;
    position: absolute;
    right: 12px;
    color: white;
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    opacity: 0.7;
}