/**
   #框架样式
 */
@charset "UTF-8";
body{
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
/*公共样式*/
.center{
    text-align: center;
}
.hidden{
    display: none;
}
input::-webkit-input-placeholder{
    color: #bfbfbf;
}
/*文本框修改*/
.layui-input, .layui-select, .layui-textarea {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
}
.layui-form-radio {
    margin: 0px 10px 0 0;
}
.layui-form-label {
    float: left;
    display: block;
    padding: 0px 6px 0px 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}
/*弹窗提示，按钮居中*/
.layui-layer-btn{
    text-align: center !important;
}
/*列表详情页*/
/*引用块样式*/
.mb-elem-quote{
     padding: 14px 0px 14px 0px;
     font-size: 18px;
     line-height: 0px;
     color: #23262e;
     border-radius: 0 2px 2px 0;
 }

/*轮播样式*/
.layui-fluid .layui-card .layui-card-body{
    border-top: 2px solid #009688;
}
.mb-carousel-home .layui-carousel-ind{
    top: -40px;
    position: absolute;
    text-align: right;
}
.mb-carousel-home .layui-carousel-ind li.layui-this {
    background-color: #030303;;
}
.mb-carousel-home ul li{
    background-color: #fff;
    cursor: pointer;
}
.mb-backlog ul li a{
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.mb-backlog ul li a h3{
    padding-bottom: 10px;
    font-size: 12px;
}
.mb-backlog ul li a p cite{
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688;
}
.mb-shortcut li .layui-icon{
     display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.mb-shortcut li cite {
    position: relative;
    top: 2px;
    display: block;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
}

/*表格样式修改*/
.layui-table, .layui-table-view {
    margin: 2px 0;
    border-top: 2px solid #1e9fff;
}

/*树形表格*/
.mb-unselect.mb-tree-checkbox> i{
    color: #fff;
    padding-left: 4px;
}
.mb-checked.mb-tree-checkbox> i{
    border-color: #5FB878;
    background-color: #5FB878;
    color: #fff;
}
.mb-tree-checkbox{
    position: relative;
    cursor: pointer;
    font-size: 0;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    box-sizing: border-box;
    line-height: normal!important;
    width: 18px;
    height: 18px;
    border: none!important;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 0;
    background: 0 0;
    display: inline-block;
    vertical-align: middle;
}
.mb-tree-checkbox:hover i {
    border-color: #5FB878;
    color: #fff;
}
.mb-tree-checkbox i{
    position: absolute;
    text-align: center;
    right: auto;
    left: 0;
    line-height: 14px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}
.mb-tree-table li{
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
}
.mb-tree-table li ul{
    margin-left: 35px;
}
.mb-tree-table li ul div.layui-form-checkbox>span{
    color: #1e9fff;
    font-size: 12px;
}
.mb-tree-table .layui-form-checkbox i{
    color: #fff;
    padding-left: 2px;
}

/*多选按钮样式*/
.mb-card-select .layui-form-checkbox>span{
    width: 75px;
}

/*弹窗样式*/
.mb-layer-rim{
    border: 6px solid #8D8D8D;
    border: 6px solid rgba(0,0,0,.3);
    border-radius: 5px;
    box-shadow: none;
}
.mb-layer-rim .layui-layer-content>form{
    padding: 10px;
}
