@font-face {
    font-family: "anticon";
    src: url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot");
    src: url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff") format("woff"), url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf") format("truetype"), url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont") format("svg")
}

.anticon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.anticon:before {
    display: block;
    font-family: "anticon" !important
}

.anticon-plus:before {
    content: "\E627"
}

@-webkit-keyframes antFadeIn {
    0% {
        opacity: 0
    }
}

@keyframes antFadeIn {
    0% {
        opacity: 0
    }
}

@-webkit-keyframes antFadeOut {
    0% {
        opacity: 1
    }
}

@keyframes antFadeOut {
    0% {
        opacity: 1
    }
}

.move-up-appear, .move-up-enter, .move-up-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

@-webkit-keyframes antMoveDownIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
}

@keyframes antMoveDownIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
}

@-webkit-keyframes antMoveDownOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes antMoveDownOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes antMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
}

@keyframes antMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
}

@-webkit-keyframes antMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes antMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes antMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes antMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-webkit-keyframes antMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes antMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes antMoveUpIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0
    }
}

@keyframes antMoveUpIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0
    }
}

@-webkit-keyframes antMoveUpOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes antMoveUpOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes loadingCircle {
    0% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes loadingCircle {
    0% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.slide-up-appear, .slide-up-enter, .slide-up-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

@-webkit-keyframes antSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }
}

@keyframes antSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }
}

@-webkit-keyframes antSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes antSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@-webkit-keyframes antSlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }
}

@keyframes antSlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }
}

@-webkit-keyframes antSlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes antSlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@-webkit-keyframes antSlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@keyframes antSlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@-webkit-keyframes antSlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes antSlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes antSlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@keyframes antSlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@-webkit-keyframes antSlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes antSlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.swing-appear, .swing-enter {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

@-webkit-keyframes antSwingIn {
    0%, to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    20% {
        opacity: .5;
        width: 0
    }
    40% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
    60% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px)
    }
}

@keyframes antSwingIn {
    0%, to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.zoom-appear, .zoom-enter, .zoom-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

@-webkit-keyframes antZoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
        transform: scale(.2)
    }
}

@keyframes antZoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
        transform: scale(.2)
    }
}

@-webkit-keyframes antZoomOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomBigIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes antZoomBigOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomBigOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes antZoomUpOut {
    0% {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomUpOut {
    0% {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes antZoomLeftOut {
    0% {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomLeftOut {
    0% {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes antZoomRightOut {
    0% {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomRightOut {
    0% {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes antZoomDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes antZoomDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes antZoomDownOut {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes antZoomDownOut {
    0% {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.ant-motion-collapse {
    overflow: hidden
}

@-webkit-keyframes NotificationFadeIn {
    0% {
        opacity: 0;
        left: 384px
    }
}

@keyframes NotificationFadeIn {
    0% {
        opacity: 0;
        left: 384px
    }
}

@-webkit-keyframes NotificationLeftFadeIn {
    0% {
        opacity: 0;
        right: 384px
    }
}

@keyframes NotificationLeftFadeIn {
    0% {
        opacity: 0;
        right: 384px
    }
}

@-webkit-keyframes NotificationFadeOut {
    0% {
        opacity: 1;
        margin-bottom: 16px;
        padding-top: 16px 24px;
        padding-bottom: 16px 24px;
        max-height: 150px
    }
}

@keyframes NotificationFadeOut {
    0% {
        opacity: 1;
        margin-bottom: 16px;
        padding-top: 16px 24px;
        padding-bottom: 16px 24px;
        max-height: 150px
    }
}

.ant-spin {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #1890ff;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    position: absolute;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), -webkit-transform .3s cubic-bezier(.78, .14, .15, .86);
    display: none
}

.ant-spin-nested-loading {
    position: relative
}

.ant-spin-container {
    position: relative;
    zoom: 1
}

.ant-spin-container:after, .ant-spin-container:before {
    content: "";
    display: table
}

.ant-spin-container:after {
    clear: both
}

@media (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .ant-spin-blur {
        background: #fff;
        opacity: .5
    }
}

@-webkit-keyframes antSpinMove {
    to {
        opacity: 1
    }
}

@keyframes antSpinMove {
    to {
        opacity: 1
    }
}

@-webkit-keyframes antRotate {
    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
}

@keyframes antRotate {
    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
}

.ant-message {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    z-index: 1010;
    width: 100%;
    top: 16px;
    left: 0;
    pointer-events: none
}

@-webkit-keyframes MessageMoveOut {
    0% {
        opacity: 1;
        max-height: 150px;
        padding: 8px
    }
}

@keyframes MessageMoveOut {
    0% {
        opacity: 1;
        max-height: 150px;
        padding: 8px
    }
}

.ant-btn {
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    position: relative;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border-color: #d9d9d9
}

.ant-btn > .anticon {
    line-height: 1
}

.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0
}

.ant-btn:not([disabled]):hover {
    text-decoration: none
}

.ant-btn:not([disabled]):active {
    outline: 0;
    -webkit-transition: none;
    transition: none
}

.ant-btn-sm {
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px
}

.ant-btn:focus, .ant-btn:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff
}

.ant-btn.active, .ant-btn:active {
    color: #096dd9;
    background-color: #fff;
    border-color: #096dd9
}

.ant-btn.active, .ant-btn:active, .ant-btn:focus, .ant-btn:hover {
    background: #fff;
    text-decoration: none
}

.ant-btn > i, .ant-btn > span {
    pointer-events: none
}

.ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff
}

.ant-btn-primary:focus, .ant-btn-primary:hover {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff
}

.ant-btn-primary.active, .ant-btn-primary:active {
    color: #fff;
    background-color: #096dd9;
    border-color: #096dd9
}

.ant-btn:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: #fff;
    opacity: .35;
    content: "";
    border-radius: inherit;
    z-index: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    pointer-events: none;
    display: none
}

.ant-btn .anticon {
    -webkit-transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
    transition: margin-left .3s cubic-bezier(.645, .045, .355, 1)
}

.ant-btn:active > span, .ant-btn:focus > span {
    position: relative
}

.ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 8px
}

.ant-btn-background-ghost {
    background: transparent !important;
    border-color: #fff;
    color: #fff
}

.ant-btn-background-ghost.ant-btn-primary {
    color: #1890ff;
    background-color: transparent;
    border-color: #1890ff
}

.ant-btn-background-ghost.ant-btn-primary:focus, .ant-btn-background-ghost.ant-btn-primary:hover {
    color: #40a9ff;
    background-color: transparent;
    border-color: #40a9ff
}

.ant-btn-background-ghost.ant-btn-primary.active, .ant-btn-background-ghost.ant-btn-primary:active {
    color: #096dd9;
    background-color: transparent;
    border-color: #096dd9
}

@-webkit-keyframes buttonEffect {
    to {
        opacity: 0;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px
    }
}

@keyframes buttonEffect {
    to {
        opacity: 0;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px
    }
}

a.ant-btn {
    line-height: 30px
}

@media screen and (max-width: 1200px) {
    .pageHeader___Pze-l .extraContent___3mck4 {
        margin-left: 44px
    }
}

@media screen and (max-width: 576px) {
    .pageHeaderContent___2eN5S {
        padding-bottom: 30px
    }
}

@media screen and (max-width: 480px) {
    .projectList___3oQ1f .projectGrid___udXto {
        width: 100%
    }
}

.ant-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: auto;
    flex: auto;
    background: #f0f2f5
}

.ant-layout-content {
    -ms-flex: auto;
    flex: auto
}

:root .ant-dropdown-wrap .ant-btn > .anticon-down {
    font-size: 12px
}

:root .ant-dropdown-menu-item .ant-dropdown-menu-submenu-arrow:after, :root .ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow:after {
    font-size: 12px
}

:root .ant-dropdown-link .anticon-down, :root .ant-dropdown-trigger .anticon-down {
    font-size: 12px
}

:root .ant-dropdown-button .anticon-down {
    font-size: 12px
}

.ant-avatar {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px
}

.ant-avatar-image {
    background: transparent
}

.ant-avatar > * {
    line-height: 32px
}

.ant-avatar-lg {
    width: 40px;
    height: 40px;
    border-radius: 20px
}

.ant-avatar-lg, .ant-avatar-lg > * {
    line-height: 40px
}

.ant-avatar-sm {
    width: 24px;
    height: 24px;
    border-radius: 12px
}

.ant-avatar-sm, .ant-avatar-sm > * {
    line-height: 24px
}

.ant-avatar > img {
    width: 100%;
    height: 100%;
    display: block
}

:root .ant-tag .anticon-cross {
    font-size: 12px
}

@-webkit-keyframes antStatusProcessing {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        opacity: .5
    }
}

@keyframes antStatusProcessing {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        opacity: .5
    }
}

.ant-scroll-number {
    overflow: hidden
}

@-webkit-keyframes antZoomBadgeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translateX(-50%);
        transform: scale(0) translateX(-50%)
    }
}

@keyframes antZoomBadgeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translateX(-50%);
        transform: scale(0) translateX(-50%)
    }
}

@-webkit-keyframes antZoomBadgeOut {
    0% {
        -webkit-transform: scale(1) translateX(-50%);
        transform: scale(1) translateX(-50%)
    }
}

@keyframes antZoomBadgeOut {
    0% {
        -webkit-transform: scale(1) translateX(-50%);
        transform: scale(1) translateX(-50%)
    }
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
    height: 40px
}

:root .ant-tabs-tab-next-icon:before, :root .ant-tabs-tab-prev-icon:before {
    font-size: 12px
}

:root .ant-tabs-tab-prev {
    -webkit-filter: none;
    filter: none
}

.ant-list {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

.ant-list * {
    outline: none
}

.ant-list-item {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px
}

.ant-list-item-meta {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    font-size: 0
}

.ant-list-item-meta-avatar {
    margin-right: 16px
}

.ant-list-item-meta-content {
    -ms-flex: 1 0;
    flex: 1 0
}

.ant-list-item-meta-title {
    color: rgba(0, 0, 0, .65);
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px
}

.ant-list-item-meta-description {
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    line-height: 22px
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid #e8e8e8
}

.ant-list-split .ant-list-item:last-child {
    border-bottom: none
}

.ant-list-lg .ant-list-item {
    padding-top: 16px;
    padding-bottom: 16px
}

@media screen and (max-width: 768px) {
    .desc___gc8ir {
        padding: 0
    }
}

.ant-pagination {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root .ant-pagination-jump-next:focus:after, :root .ant-pagination-jump-next:hover:after, :root .ant-pagination-jump-prev:focus:after, :root .ant-pagination-jump-prev:hover:after {
    font-size: 12px
}

@media only screen and (max-width: 992px) {
    .ant-pagination-item-after-jump-prev, .ant-pagination-item-before-jump-next {
        display: none
    }
}

@media only screen and (max-width: 576px) {
    .ant-pagination-options {
        display: none
    }
}

.ant-select {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative
}

:root .ant-select-selection--multiple .ant-select-selection__choice__remove {
    font-size: 12px
}

:root .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item:after {
    font-size: 12px
}

.ant-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.ant-row:after, .ant-row:before {
    content: "";
    display: table
}

.ant-row:after {
    clear: both
}

.ant-col-1, .ant-col-2, .ant-col-3, .ant-col-4, .ant-col-5, .ant-col-6, .ant-col-7, .ant-col-8, .ant-col-9, .ant-col-10, .ant-col-11, .ant-col-12, .ant-col-13, .ant-col-14, .ant-col-15, .ant-col-16, .ant-col-17, .ant-col-18, .ant-col-19, .ant-col-20, .ant-col-21, .ant-col-22, .ant-col-23, .ant-col-24, .ant-col-lg-1, .ant-col-lg-2, .ant-col-lg-3, .ant-col-lg-4, .ant-col-lg-5, .ant-col-lg-6, .ant-col-lg-7, .ant-col-lg-8, .ant-col-lg-9, .ant-col-lg-10, .ant-col-lg-11, .ant-col-lg-12, .ant-col-lg-13, .ant-col-lg-14, .ant-col-lg-15, .ant-col-lg-16, .ant-col-lg-17, .ant-col-lg-18, .ant-col-lg-19, .ant-col-lg-20, .ant-col-lg-21, .ant-col-lg-22, .ant-col-lg-23, .ant-col-lg-24, .ant-col-md-1, .ant-col-md-2, .ant-col-md-3, .ant-col-md-4, .ant-col-md-5, .ant-col-md-6, .ant-col-md-7, .ant-col-md-8, .ant-col-md-9, .ant-col-md-10, .ant-col-md-11, .ant-col-md-12, .ant-col-md-13, .ant-col-md-14, .ant-col-md-15, .ant-col-md-16, .ant-col-md-17, .ant-col-md-18, .ant-col-md-19, .ant-col-md-20, .ant-col-md-21, .ant-col-md-22, .ant-col-md-23, .ant-col-md-24, .ant-col-sm-1, .ant-col-sm-2, .ant-col-sm-3, .ant-col-sm-4, .ant-col-sm-5, .ant-col-sm-6, .ant-col-sm-7, .ant-col-sm-8, .ant-col-sm-9, .ant-col-sm-10, .ant-col-sm-11, .ant-col-sm-12, .ant-col-sm-13, .ant-col-sm-14, .ant-col-sm-15, .ant-col-sm-16, .ant-col-sm-17, .ant-col-sm-18, .ant-col-sm-19, .ant-col-sm-20, .ant-col-sm-21, .ant-col-sm-22, .ant-col-sm-23, .ant-col-sm-24, .ant-col-xs-1, .ant-col-xs-2, .ant-col-xs-3, .ant-col-xs-4, .ant-col-xs-5, .ant-col-xs-6, .ant-col-xs-7, .ant-col-xs-8, .ant-col-xs-9, .ant-col-xs-10, .ant-col-xs-11, .ant-col-xs-12, .ant-col-xs-13, .ant-col-xs-14, .ant-col-xs-15, .ant-col-xs-16, .ant-col-xs-17, .ant-col-xs-18, .ant-col-xs-19, .ant-col-xs-20, .ant-col-xs-21, .ant-col-xs-22, .ant-col-xs-23, .ant-col-xs-24 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0
}

.ant-col-1, .ant-col-2, .ant-col-3, .ant-col-4, .ant-col-5, .ant-col-6, .ant-col-7, .ant-col-8, .ant-col-9, .ant-col-10, .ant-col-11, .ant-col-12, .ant-col-13, .ant-col-14, .ant-col-15, .ant-col-16, .ant-col-17, .ant-col-18, .ant-col-19, .ant-col-20, .ant-col-21, .ant-col-22, .ant-col-23, .ant-col-24 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.ant-col-12 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%
}

.ant-col-8 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333333%
}

.ant-col-xs-1, .ant-col-xs-2, .ant-col-xs-3, .ant-col-xs-4, .ant-col-xs-5, .ant-col-xs-6, .ant-col-xs-7, .ant-col-xs-8, .ant-col-xs-9, .ant-col-xs-10, .ant-col-xs-11, .ant-col-xs-12, .ant-col-xs-13, .ant-col-xs-14, .ant-col-xs-15, .ant-col-xs-16, .ant-col-xs-17, .ant-col-xs-18, .ant-col-xs-19, .ant-col-xs-20, .ant-col-xs-21, .ant-col-xs-22, .ant-col-xs-23, .ant-col-xs-24 {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.ant-col-xs-24 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

@media (min-width: 576px) {
    .ant-col-sm-1, .ant-col-sm-2, .ant-col-sm-3, .ant-col-sm-4, .ant-col-sm-5, .ant-col-sm-6, .ant-col-sm-7, .ant-col-sm-8, .ant-col-sm-9, .ant-col-sm-10, .ant-col-sm-11, .ant-col-sm-12, .ant-col-sm-13, .ant-col-sm-14, .ant-col-sm-15, .ant-col-sm-16, .ant-col-sm-17, .ant-col-sm-18, .ant-col-sm-19, .ant-col-sm-20, .ant-col-sm-21, .ant-col-sm-22, .ant-col-sm-23, .ant-col-sm-24 {
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .ant-col-sm-24 {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
}

@media (min-width: 768px) {
    .ant-col-md-1, .ant-col-md-2, .ant-col-md-3, .ant-col-md-4, .ant-col-md-5, .ant-col-md-6, .ant-col-md-7, .ant-col-md-8, .ant-col-md-9, .ant-col-md-10, .ant-col-md-11, .ant-col-md-12, .ant-col-md-13, .ant-col-md-14, .ant-col-md-15, .ant-col-md-16, .ant-col-md-17, .ant-col-md-18, .ant-col-md-19, .ant-col-md-20, .ant-col-md-21, .ant-col-md-22, .ant-col-md-23, .ant-col-md-24 {
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .ant-col-md-24 {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
}

@media (min-width: 992px) {
    .ant-col-lg-1, .ant-col-lg-2, .ant-col-lg-3, .ant-col-lg-4, .ant-col-lg-5, .ant-col-lg-6, .ant-col-lg-7, .ant-col-lg-8, .ant-col-lg-9, .ant-col-lg-10, .ant-col-lg-11, .ant-col-lg-12, .ant-col-lg-13, .ant-col-lg-14, .ant-col-lg-15, .ant-col-lg-16, .ant-col-lg-17, .ant-col-lg-18, .ant-col-lg-19, .ant-col-lg-20, .ant-col-lg-21, .ant-col-lg-22, .ant-col-lg-23, .ant-col-lg-24 {
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .ant-col-lg-24 {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
}

@media (min-width: 1200px) {
    .ant-col-xl-1, .ant-col-xl-2, .ant-col-xl-3, .ant-col-xl-4, .ant-col-xl-5, .ant-col-xl-6, .ant-col-xl-7, .ant-col-xl-8, .ant-col-xl-9, .ant-col-xl-10, .ant-col-xl-11, .ant-col-xl-12, .ant-col-xl-13, .ant-col-xl-14, .ant-col-xl-15, .ant-col-xl-16, .ant-col-xl-17, .ant-col-xl-18, .ant-col-xl-19, .ant-col-xl-20, .ant-col-xl-21, .ant-col-xl-22, .ant-col-xl-23, .ant-col-xl-24 {
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .ant-col-xl-16 {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .ant-col-xl-8 {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333333%
    }
}

@media (min-width: 1600px) {
    .ant-col-xxl-1, .ant-col-xxl-2, .ant-col-xxl-3, .ant-col-xxl-4, .ant-col-xxl-5, .ant-col-xxl-6, .ant-col-xxl-7, .ant-col-xxl-8, .ant-col-xxl-9, .ant-col-xxl-10, .ant-col-xxl-11, .ant-col-xxl-12, .ant-col-xxl-13, .ant-col-xxl-14, .ant-col-xxl-15, .ant-col-xxl-16, .ant-col-xxl-17, .ant-col-xxl-18, .ant-col-xxl-19, .ant-col-xxl-20, .ant-col-xxl-21, .ant-col-xxl-22, .ant-col-xxl-23, .ant-col-xxl-24 {
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

.list___dBoGk {
    max-height: 400px;
    overflow: auto
}

@media only screen and (max-width: 768px) {
    .header___1L3tU .ant-divider-vertical {
        vertical-align: unset
    }
}

.globalFooter___3uaww {
    padding: 0 16px;
    margin: 48px 0 24px;
    text-align: center
}

@-webkit-keyframes antRadioEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .5
    }
}

@keyframes antRadioEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .5
    }
}

.ant-table-wrapper {
    zoom: 1
}

:root .ant-table-column-sorter .anticon-caret-down, :root .ant-table-column-sorter .anticon-caret-up {
    font-size: 12px
}

@-webkit-keyframes antCheckboxEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .5
    }
}

@keyframes antCheckboxEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .5
    }
}

.ant-checkbox {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    top: -.09em
}

.ant-card {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s
}

.ant-card-head {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px
}

.ant-card-head:after, .ant-card-head:before {
    content: "";
    display: table
}

.ant-card-head:after {
    clear: both
}

.ant-card-head-wrapper {
    display: -ms-flexbox;
    display: flex
}

.ant-card-head-title {
    font-size: 16px;
    padding: 16px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    display: inline-block;
    -ms-flex: 1 1;
    flex: 1 1
}

.ant-card-extra {
    float: right;
    padding: 17.5px 0;
    text-align: right;
    margin-left: auto
}

.ant-card-body {
    padding: 24px;
    zoom: 1
}

.ant-card-body:after, .ant-card-body:before {
    content: "";
    display: table
}

.ant-card-body:after {
    clear: both
}
.ant-card-grid {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
    box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, inset 1px 0 0 0 #e8e8e8, inset 0 1px 0 0 #e8e8e8;
    width: 33.33%;
    float: left;
    padding: 24px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.ant-card-grid:hover {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
}

.ant-card-meta {
    margin: -4px 0;
    zoom: 1
}

.ant-card-meta:after, .ant-card-meta:before {
    content: "";
    display: table
}

.ant-card-meta:after {
    clear: both
}

.ant-card-meta-detail {
    overflow: hidden
}

.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 8px
}

.ant-card-meta-title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, .85);
    font-weight: 500
}

.ant-card-meta-description {
    color: rgba(0, 0, 0, .45)
}

@-webkit-keyframes card-loading {
    0%, to {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
}

@keyframes card-loading {
    0%, to {
        background-position: 0 50%
    }
}

.ant-calendar-picker-container {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1050
}

.radar___30Maa .legend___2iq-R {
    margin-top: 16px
}

.radar___30Maa .legend___2iq-R .legendItem___2Uwpw {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, .45);
    line-height: 22px
}

.radar___30Maa .legend___2iq-R .legendItem___2Uwpw p {
    margin: 0
}

.radar___30Maa .legend___2iq-R .legendItem___2Uwpw h6 {
    color: rgba(0, 0, 0, .85);
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 0
}

.radar___30Maa .legend___2iq-R .legendItem___2Uwpw:after {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    right: 0;
    height: 40px;
    width: 1px;
    content: ""
}

.radar___30Maa .legend___2iq-R .dot___3rWm7 {
    border-radius: 6px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -1px;
    height: 6px;
    width: 6px
}

@media screen and (max-width: 992px) {
    .contentLink___2PhWZ a {
        margin-right: 16px
    }
}

@media screen and (max-width: 768px) {
    .selfTrigger___i8k2l {
        display: block;
        margin-left: 0
    }
}

.activeChart___3SU9t {
    position: relative
}
.linkGroup___2K_Ra {
    padding: 20px 0 8px 24px;
    font-size: 0
}

.linkGroup___2K_Ra > a {
    color: rgba(0, 0, 0, .65);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
    width: 25%
}

.linkGroup___2K_Ra > a:hover {
    color: #1890ff
}

.ant-breadcrumb {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(0, 0, 0, .45);
    font-size: 14px
}

.ant-breadcrumb a {
    color: rgba(0, 0, 0, .45);
    -webkit-transition: color .3s;
    transition: color .3s
}

.ant-breadcrumb a:hover {
    color: #40a9ff
}

.ant-breadcrumb > span:last-child {
    color: rgba(0, 0, 0, .65)
}

.ant-breadcrumb > span:last-child .ant-breadcrumb-separator {
    display: none
}

.ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(0, 0, 0, .45)
}

.pageHeader___Pze-l {
    background: #fff;
    padding: 16px 32px 0;
    border-bottom: 1px solid #e8e8e8
}

.pageHeader___Pze-l .detail___1rfGA {
    display: -ms-flexbox;
    display: flex
}

.pageHeader___Pze-l .row___3eawN {
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.pageHeader___Pze-l .breadcrumb___3MKYT {
    margin-bottom: 16px
}

.pageHeader___Pze-l .content___BnbuS, .pageHeader___Pze-l .title___3uDQf {
    -ms-flex: auto;
    flex: auto
}

.pageHeader___Pze-l .action___2qsxF, .pageHeader___Pze-l .extraContent___3mck4, .pageHeader___Pze-l .main___3Slzs {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.pageHeader___Pze-l .main___3Slzs {
    width: 100%
}

.pageHeader___Pze-l .action___2qsxF, .pageHeader___Pze-l .content___BnbuS, .pageHeader___Pze-l .extraContent___3mck4, .pageHeader___Pze-l .logo___1PqCV, .pageHeader___Pze-l .title___3uDQf {
    margin-bottom: 16px
}

.pageHeader___Pze-l .action___2qsxF, .pageHeader___Pze-l .extraContent___3mck4 {
    margin-left: 0;
    text-align: left
}
@media screen and (max-width: 992px) {
    .listItemExtra___3ZQ3b {
        width: 0;
        height: 1px
    }
}

{
    margin: 24px 24px 0
}
@media screen and (max-width: 576px) {
    .main___2jCiI {
        width: 95%
    }
}

.activitiesList___1iu8_ {
    padding: 0 24px 8px
}

.activitiesList___1iu8_ .username___3QGFo {
    color: rgba(0, 0, 0, .65)
}

.activitiesList___1iu8_ .event___17TiG {
    font-weight: normal
}

.pageHeaderContent___1WBMY {
    display: -ms-flexbox;
    display: flex
}

.pageHeaderContent___1WBMY .avatar___3yyKI {
    -ms-flex: 0 1 72px;
    flex: 0 1 72px;
    margin-bottom: 8px
}

.pageHeaderContent___1WBMY .avatar___3yyKI > span {
    border-radius: 72px;
    display: block;
    width: 72px;
    height: 72px
}

.pageHeaderContent___1WBMY .content___3h7ql {
    margin-left: 0
}

.pageHeaderContent___1WBMY .content___3h7ql .contentTitle___4Mmy4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 12px
}

.extraContent___1Im9T {
    float: none;
    margin-right: 0
}

.extraContent___1Im9T:after, .extraContent___1Im9T:before {
    content: " ";
    display: table
}

.extraContent___1Im9T:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0
}

.extraContent___1Im9T .statItem___axqF9 {
    padding: 0 32px;
    position: relative;
    display: inline-block;
}

.extraContent___1Im9T .statItem___axqF9 > p:first-child {
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px
}

.extraContent___1Im9T .statItem___axqF9 > p {
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    line-height: 38px;
    margin: 0
}

.extraContent___1Im9T .statItem___axqF9 > p > span {
    color: rgba(0, 0, 0, .45);
    font-size: 20px
}

.extraContent___1Im9T .statItem___axqF9:after {
    display: none
}

.extraContent___1Im9T .statItem___axqF9:last-child {
    padding-right: 0
}

.extraContent___1Im9T .statItem___axqF9:last-child:after {
    display: none
}

.members___3KDpx a {
    display: block;
    margin: 12px 0;
    height: 24px
}

.members___3KDpx a, .members___3KDpx a .member___3l6FE {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap
}

.members___3KDpx a .member___3l6FE {
    font-size: 14px;
    color: rgba(0, 0, 0, .65);
    max-width: 100px;
    vertical-align: top;
    margin-left: 12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block
}

.members___3KDpx a:hover span {
    color: #1890ff
}

.projectList___3oQ1f .ant-card-meta-description {
    color: rgba(0, 0, 0, .45);
    height: 44px;
    line-height: 22px;
    overflow: hidden
}

.projectList___3oQ1f .cardTitle___dc4KN {
    font-size: 0
}

.projectList___3oQ1f .cardTitle___dc4KN a {
    color: rgba(0, 0, 0, .85);
    margin-left: 12px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px
}

.projectList___3oQ1f .cardTitle___dc4KN a:hover {
    color: #1890ff
}

.projectList___3oQ1f .projectGrid___udXto {
    width: 50%
}

.projectList___3oQ1f .projectItemContent___2M3Iz {
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap
}

.projectList___3oQ1f .projectItemContent___2M3Iz a {
    color: rgba(0, 0, 0, .45);
    display: inline-block;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap
}

.projectList___3oQ1f .projectItemContent___2M3Iz a:hover {
    color: #1890ff
}

.projectList___3oQ1f .projectItemContent___2M3Iz .datetime___35Apf {
    color: rgba(0, 0, 0, .25);
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    float: right
}

.datetime___35Apf {
    color: rgba(0, 0, 0, .25)
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .activeCard___1sEm8 {
        margin-bottom: 24px
    }

    .members___3KDpx {
        margin-bottom: 0
    }
}

.ant-input-number {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    background-image: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width: 90px
}

:root .ant-input-number-handler-down-inner, :root .ant-input-number-handler-up-inner {
    font-size: 12px
}

@media (max-width: 575px) {
    .ant-form-item-control-wrapper, .ant-form-item-label {
        display: block;
        width: 100%
    }
}

@media (max-width: 767px) {
    .ant-col-sm-24.ant-form-item-label {
        padding: 0 0 8px;
        margin: 0;
        display: block;
        text-align: left;
        line-height: 1.5
    }
}

@media (max-width: 991px) {
    .ant-col-md-24.ant-form-item-label {
        padding: 0 0 8px;
        margin: 0;
        display: block;
        text-align: left;
        line-height: 1.5
    }
}

@media (max-width: 1199px) {
    .ant-col-lg-24.ant-form-item-label {
        padding: 0 0 8px;
        margin: 0;
        display: block;
        text-align: left;
        line-height: 1.5
    }
}

@media (max-width: 1599px) {
    .ant-col-xl-24.ant-form-item-label {
        padding: 0 0 8px;
        margin: 0;
        display: block;
        text-align: left;
        line-height: 1.5
    }
}

.ant-form-inline .ant-form-item {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 0
}

@-webkit-keyframes antShowHelpIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes antShowHelpIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@-webkit-keyframes antShowHelpOut {
    to {
        opacity: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes antShowHelpOut {
    to {
        opacity: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@-webkit-keyframes diffZoomIn1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes diffZoomIn1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@-webkit-keyframes diffZoomIn2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes diffZoomIn2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@-webkit-keyframes diffZoomIn3 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes diffZoomIn3 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

.card___LWVQ9 {
    margin-bottom: 24px
}

@media (max-width: 480px) {
    .ant-steps-horizontal.ant-steps-label-horizontal {
        display: block
    }
}

.ant-steps-label-vertical .ant-steps-item {
    overflow: visible
}
.information___1nmSy {
    line-height: 22px
}
.money___2XzA5 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 14px
}

@-webkit-keyframes antAlertSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@keyframes antAlertSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@-webkit-keyframes antAlertSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes antAlertSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

.result___xC0Dg {
    text-align: center;
    width: 72%;
    margin: 0 auto
}

@media screen and (max-width: 480px) {
    .selfTrigger___i8k2l {
        display: block;
        margin-left: 0
    }
}

.result___xC0Dg .icon___2CoVh {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 24px
}
.result___xC0Dg .actions___3ojTs {
    margin-top: 32px
}

@media (max-width: 767px) {
    .ant-modal {
        width: auto !important;
        margin: 10px
    }
}

.ant-confirm .ant-modal-close, .ant-confirm .ant-modal-header {
    display: none
}
.ant-progress {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block
}

@-webkit-keyframes ant-progress-active {
    0% {
        opacity: .1;
        width: 0
    }
}

@keyframes ant-progress-active {
    0% {
        opacity: .1;
        width: 0
    }
}

.standardList___3yUt8 .ant-card-head {
    border-bottom: none
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .standardList___3yUt8 .listContent___1g2sf > div {
        display: block
    }
}

@media screen and (max-width: 1200px) {
    .standardList___3yUt8 .listContent___1g2sf > div {
        margin-left: 24px
    }
}

@media screen and (max-width: 1400px) {
    .standardList___3yUt8 .listContent___1g2sf {
        text-align: right
    }
}

.ellipsis___TqafL {
    overflow: hidden;
    display: inline-block;
    word-break: break-all;
    width: 100%
}
.tagSelect___29LHn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: -8px;
    position: relative;
    overflow: hidden;
    max-height: 32px;
    line-height: 32px;
    -webkit-transition: all .3s;
    transition: all .3s
}

}
.descriptionList___2AbEi .ant-row {
    margin-bottom: -16px;
    overflow: hidden
}
.trigger___1QaC4 {
    background: "red"
}
@media (min-width: 768px) {
    .container___3rCSG {
        background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
        background-repeat: no-repeat;
        background-position: center 110px;
        background-size: 100%
    }
}

.top___3tcoI {
    text-align: center
}
.main___2jCiI .icon___2DtLy {
    font-size: 24px;
    color: rgba(0, 0, 0, .2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s
}