<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-include="common/head"></head>
<body class="layui-layout-body layui-table-body">
<div data-th-include="common/common"></div>
<hr>
<div class="layui-container ajax-content" lay-filter="ajax-content">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-xs4">
            <blockquote class="mb-elem-quote">部门管理</blockquote>
        </div>
        <div class="layui-col-md4 layui-col-xs8">
            <div class="layui-inline" style="float: right;margin-bottom: 0px;">
                <div class="layui-btn-group">
                    <button title="新增" type="button" id="addBtn"  class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:add"><i class="layui-icon"></i></button>
                    <button title="修改" type="button" id="updBtn" class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:update"><i class="layui-icon"></i></button>
                    <button title="导出" type="button" id="expBtn" class="layui-btn layui-btn-primary layui-btn-sm" data-table-action="excel" onclick="exportMenuExcel()"><i class="layui-icon layui-icon-download-circle"></i></button>
                    <button title="删除" type="button" id="delBtn" class="layui-btn layui-btn-primary layui-btn-sm" shiro:hasPermission="menu:delete"><i class="layui-icon"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="site-tips layui-col-md3 layui-col-xs12" style="min-height: 400px;padding: 10px;">
            <div class="layui-card" style="min-height: 380px;">
                <div class="search_box">
                    <input  placeholder="请输入部门名称" type="text" id="search_input" autocomplete="off" num="0" >
                    <span class="btn_search layui-icon layui-icon-search" id="search_input_span"></span>
                </div>
                <ul id="Tree" class="layui-box layui-tree"></ul>
            </div>
        </div>
        <div class="site-tips layui-col-md9 layui-col-md9 layui-col-xs12 layui-anim layui-anim-up" style="min-height: 400px;padding: 10px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-row layui-col-xs12 layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon">&#xe60a;&nbsp;&nbsp;</i>基本信息</div>
                        <div class="layui-card-body" id="InfoPanle" style="min-height: 130px">
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-xs12  layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon">&#xe672;&nbsp;&nbsp;</i>人员列表</div>
                        <div class="layui-card-body" id="ListPanle" style="min-height: 50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-th-src="@{/js/app/system/group/group.js}"></script>
</div>
</body>
</html>